<h2>Sendungsnotizen sichten</h2>

<p>Diese Liste enthält insgesamt {{count}} Dokumente, die gesichtet und/oder veröffentlicht werden sollen.</p>

<div class="box-wrapper">
	<input type="text" placeholder="Dokumente durchsuchen" ng-model="search" />
</div>

<table>
	<tr>
		<th>Podcast</th>
		<th>Datum</th>
		<th>Status</th>
	</tr>
	<tr ng-repeat="doc in todos">
		<td><a ui-sref="document-sighting({ name: doc.name })">{{doc.episode.podcast.title}}</a></td>
		<td>{{doc.episode.date | date:'medium'}}</td>
		<td>
			<span class="statuslabel" ng-show="doc.episode.publications.length == 0">Unveröffentlicht</span>
			<span class="statuslabel" ng-show="doc.episode.publicationrequests.length > 0">Sichtung beantragt</span>
		</td>
	</tr>
</table>