@charset "UTF-8";

/* General */
*,
*:before,
*:after {
	line-height: 1;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	-ms-font-feature-settings: "kern";
	-o-font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga" 1;
	-moz-font-feature-settings: "liga" 1;
	-moz-font-feature-settings: "liga=1";
	-ms-font-feature-settings: "liga" 1;
	font-feature-settings: "liga" 1;
}
* {
	font-family: 'FiraSans', sans-serif;
}
*:focus {
	outline: 2px solid rgba(64,166,98,0.5);
}
::selection {
	background: #40a662;
	color: #fefefe;
	text-shadow: none;
}
::-moz-selection {
	background: #40a662;
	color: #fefefe;
	text-shadow: none;
}

/* Typeface */
$fontDirectory: '/fonts';

@font-face {
	font-family: 'FiraSans';
	font-style: normal;
	font-weight: normal;
	src: url('#{$fontDirectory}/fira/fira/eot/FiraSans-Regular.eot');
	src: url('#{$fontDirectory}/fira/eot/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
			 url('#{$fontDirectory}/fira/woff/FiraSans-Regular.woff') format('woff');
}
@font-face {
	font-family: 'FiraSans';
	font-style: italic;
	font-weight: normal;
	src: url('#{$fontDirectory}/fira/eot/FiraSans-RegularItalic.eot');
	src: url('#{$fontDirectory}/fira/eot/FiraSans-RegularItalic.eot?#iefix') format('embedded-opentype'),
			 url('#{$fontDirectory}/fira/woff/FiraSans-RegularItalic.woff') format('woff');
}
@font-face {
	font-family: 'FiraSans';
	font-style: normal;
	font-weight: bold;
	src: url('#{$fontDirectory}/fira/eot/FiraSans-Bold.eot');
	src: url('#{$fontDirectory}/fira/eot/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
			 url('#{$fontDirectory}/fira/woff/FiraSans-Bold.woff') format('woff');
}
@font-face {
	font-family: 'FiraSans';
	font-style: italic;
	font-weight: bold;
	src: url('#{$fontDirectory}/fira/eot/FiraSans-BoldItalic.eot');
	src: url('#{$fontDirectory}/fira/eot/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
			 url('#{$fontDirectory}/fira/woff/FiraSans-BoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'FiraMono';
	font-style: normal;
	font-weight: normal;
	src: url('#{$fontDirectory}/fira/eot/FiraMono-Regular.eot');
	src: url('#{$fontDirectory}/fira/eot/FiraMono-Regular.eot?#iefix') format('embedded-opentype'),
			 url('#{$fontDirectory}/fira/woff/FiraMono-Regular.woff') format('woff');
}
@font-face {
	font-family: 'FiraMono';
	font-style: normal;
	font-weight: bold;
	src: url('#{$fontDirectory}/fira/eot/FiraMono-Bold.eot');
	src: url('#{$fontDirectory}/fira/eot/FiraMono-Bold.eot?#iefix') format('embedded-opentype'),
			 url('#{$fontDirectory}/fira/woff/iraMono-Bold.woff') format('woff');
}

/* Icons */
@font-face {
	font-family: 'icomoon';
	src: url('#{$fontDirectory}/icomoon/icomoon.eot?-osx5jv');
	src: url('#{$fontDirectory}/icomoon/icomoon.eot?#iefix-osx5jv') format('embedded-opentype'),
			 url('#{$fontDirectory}/icomoon/icomoon.woff?-osx5jv') format('woff'),
			 url('#{$fontDirectory}/icomoon/icomoon.ttf?-osx5jv') format('truetype'),
			 url('#{$fontDirectory}/icomoon/icomoon.svg?-osx5jv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
*[class^="icon-"],
*[class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}
.icon-podcast:before {
	content: "\e600";
}
.icon-bubbles:before {
	content: "\e603";
}
.icon-user:before {
	content: "\e609";
}
.icon-cog:before {
	content: "\e60a";
}
.icon-menu:before {
	content: "\e60b";
}
.icon-close:before {
	content: "\e605";
}
.icon-check:before {
	content: "\e606";
}
.icon-minus:before {
	content: "\e607";
}
.icon-plus:before {
	content: "\e608";
}
.icon-loop:before {
	content: "\e60c";
}
.icon-arrow-up:before {
	content: "\e60d";
}
.icon-arrow-right:before {
	content: "\e60e";
}
.icon-arrow-down:before {
	content: "\e60f";
}
.icon-arrow-left:before {
	content: "\e610";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-info:before {
	content: "\e601";
}
.icon-settings:before {
	content: "\e604";
}

/* Typography */
h1,
h2,
h3,
h4 {
	line-height: 1.25;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1em;
	color: #999;
	text-transform: uppercase;
}
p,
li,
blockquote,
aside {
	line-height: 1.6;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
blockquote {
	font-style: italic;
}
q {
	quotes:"\201E" "\201C";
}
code,
pre {
	background-color: #999;
	color: #fefefe;
	font-family: 'FiraMono', monospace;
	line-height: 1.6;
}
pre {
	white-space: pre-wrap;
	padding: 1em;
}
/* Chrome fix */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	pre {
		word-break: break-all;
	}
}
hr {
	margin: 1em 0;
	clear: both;
	border: 0;
	border-top: 3px solid #eee;
}

/* Inputs */
::-webkit-input-placeholder {
	color: #999;
}
:-moz-placeholder {
	color: #999;
	opacity: 1;
}
::-moz-placeholder {
	color: #999;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #999;
}
input:not([type="search"])::-ms-clear {
	display: none;
}
input,
textarea,
.form-button a {
	font-size: 1em;
	display: block;
	width: 100%;
	padding: .1em 1em;
	border-radius: .4em;
}
textarea {
	padding: 1em;
}
input:not([type="button"]):not([type="submit"]),
textarea {
	background-color: #eee;
	color: #111;
	font: normal 1em 'FiraMono', monospace;
}
input:not([type="button"]):not([type="submit"]) {
	line-height: 2;
}
textarea {
	line-height: 1.6;
}
input:focus,
textarea:focus {
	outline: none;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
input[type='button'],
input[type='submit'],
button,
.form-button a:link,
.form-button a:visited {
	background-color: #40a662;
	color: #fefefe;
	font-size: 1em;
	font-weight: bold;
	line-height: 2;
	border: none;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.3);
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
input[type='button']:hover,
input[type='button']:focus,
input[type='submit']:hover,
input[type='submit']:focus,
button:hover,
button:focus,
.form-button a:hover,
.form-button a:focus {
	background-color: #007369;
	cursor: pointer;
	outline: none;
}
input[type='button']:active,
input[type='submit']:active,
button:active,
.form-button a:active {
	text-decoration: none;
	position: relative;
	top: 1px;
	outline: none;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.2);
}

/* Links */
a:link,
a:visited {
	color: #40a662;
	font-weight: bold;
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	color: #007369;
}

a:active {
	text-decoration: underline;
}

/* Body */
body {
	background-color: #fefefe;
	color: #111;
}

/* Layout Container */
.container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
	min-height: 100vh;
}
.container > * {
	padding: 2em;
}

/* Sidebar */
.sidebar {
	background-color: #eee;
	box-shadow: 0 .25em 1em rgba(0,0,0,.5);
	min-width: 20em;
	max-width: 20em;
}
.sidebar > *:not(:first-child):not(:last-child) {
	margin-bottom: 2em;
}

/* Header */
header {
	margin-bottom: 1em;
}
header h1 {
	line-height: 1;
}
header a:link,
header a:visited {
	color: #111;
	text-decoration: none;
}

/* Navigation */
nav {
	margin: 0 -2em 0 -2em;
}
nav ul {
	list-style: none;
}
nav li {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
nav li:not(:last-child) {
	border-bottom: 3px solid #eee;
}
nav ul li > a:link,
nav ul li > a:visited,
nav ul li > label {
	background-color: #fefefe;
	font-weight: bold;
	text-decoration: none;
	display: block;
	position: relative;
	padding: 1em 2em;
}
nav ul li > label {
	color: #40a662;
}
nav ul li > label:hover {
	color: #007369;
	cursor: pointer;
}
nav a:active {
	box-shadow: inset 0 0 0.5em rgba(0, 0, 0, .1);
}
nav .toggle {
	position: relative;
}
nav .toggle .arrow {
	color: #eee;
	font-size: 2em;
	position: absolute;
	top: .5em;
	right: 0;
}
nav .toggle:hover .arrow {
	display: block !important;
}
nav span[class^="icon-"],
nav span[class*=" icon-"] {
	font-size: 2em;
	width: 2em;
	display: inline-block;
	vertical-align: middle;
}
nav .caption {
	width: 12em;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
nav.account .caption {
	width: 10em;
}

/* Sidebar Form */
nav li > input {
	display: none;
}
.account form {
	background-color: #fefefe;
	padding: 0 2em 1em 2em;
	margin: 0 auto;
}
.form-input > * {
	flex: 1 100%;
	margin-bottom: 1em;
}
.form-check,
.form-button {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
}
.form-check > * {
	width: auto;
}
.account .form-check > * {
	margin-bottom: 1em;
}
.form-check > input {
	margin-right: 1em;
}
.form-button > *:last-child {
	margin-left: 1em;
}
.form-button a:link,
.form-button a:visited {
	text-align: center;
}

/* Main Content */
.content {
	width: 100%;
	max-width: 50em;
}
.content > *:not(:last-child) {
	margin-bottom: 1em;
}
.content h2 span {
	font-size: .55em;
}
.content h2+h3 {
	margin-top: -1.5em;
}
.content ul,
.content ol {
	padding-left: 1em;
	margin-top: 1em;
}
.content ol {
	padding-left: 1.5em;
}
.content li > ul,
.content li > ol {
	margin-top: 0;
}
.form-wrapper {
	background-color: #eee;
	padding: 1em 2em;
	border-radius: .4em;
}
.form-wrapper h3,
.form-wrapper p {
	margin-bottom: 1em;
}
.form-wrapper input:not([type="button"]):not([type="submit"]),
.form-wrapper textarea {
	background-color: #fefefe;
}

/* User profiles */
ul.profile {
	display: table;
	padding: 0;
}
ul.profile li {
	display: table-row;
}
ul.profile li:before {
	display: table-cell;
	content: attr(data-social) ':';
	font-weight: bold;
	padding-right: 1em;
}
.profile-edit > *:not(:last-child) {
	margin-bottom: 1em;
}
.profile-edit > *:last-child {
	max-width: 15em;
}
.profile-edit textarea {
	height: 7em;
}

/* Styleguide */
.block {
	width: 5em;
	height: 5em;
	position: relative;
	border: 1px solid #111;
	border-radius: .4em;
}
.block span {
	line-height: 1.6;
	position: absolute;
	top: 0;
	left: 6em;
	width: 10em;
}

/* Misc */
.rules > *:not(:last-child) {
	margin-bottom: 1em;
}

/**
 * (C)Leanest CSS spinner ever
 * http://lea.verou.me/2013/11/cleanest-css-spinner-ever/
 */

@keyframes spin {
  to { transform: rotate(1turn); }
}

.progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
}

.small.progress {
  font-size: 3px;
}

.large.progress {
  font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em; /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee; /* container height - part height */
  transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
  background: #555;
}

.progress:after {
  transform: rotate(-45deg);
  background: #777;
}

.progress > div:before {
  transform: rotate(-90deg);
  background: #999;
}

.progress > div:after {
  transform: rotate(-135deg);
  background: #bbb;
}

/* Footer */
footer {
	color: #999;
	font-size: .8em;
}
footer a:link,
footer a:visited {
	color: #666;
	white-space: nowrap;
}
footer a:hover {
	color: #111;
}
footer p:not(:last-child) {
	margin-bottom: 1em;
}

/* Responsive */
@media only screen and (max-width: 768px) {
	.sidebar {
		min-width: 6em;
		max-width: 6em;
	}
	header,
	.sidebar p,
	.sidebar .caption {
		display: none;
	}
	.sidebar {
		padding: 1em;
	}
	.sidebar > p {
		display: none;
	}
	nav {
		margin: 0px -1em;
	}
	nav .toggle .arrow,
	nav .toggle:hover .arrow {
		display: none !important;
	}
	.account form {
		padding: 2em;
		position: absolute;
		border-left: none;
		border-top-right-radius: .4em;
		border-bottom-right-radius: .4em;
		box-shadow: .25em .25em 1em rgba(0,0,0,.5);
		z-index: 1337;
	}
	.account .button {
		-webkit-flex-flow: column;
		flex-direction: column;
	}
	.account .button > *:last-child {
		margin: 1em 0 0 0;
	}
	.content {
		min-width: 25em;
	}
}

/* Print Layout */
