@charset "UTF-8";

/* General */
*,
*:before,
*:after {
	line-height: 1;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	-ms-font-feature-settings: "kern";
	-o-font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga" 1;
	-moz-font-feature-settings: "liga" 1;
	-moz-font-feature-settings: "liga=1";
	-ms-font-feature-settings: "liga" 1;
	font-feature-settings: "liga" 1;
}
* {
	font-family: 'FiraSans', sans-serif;
}
*:focus {
	outline: none;
}
::selection {
	background: #007369;
	color: #fefefe;
	text-shadow: none;
}
::-moz-selection {
	background: #007369;
	color: #fefefe;
	text-shadow: none;
}
// https://docs.angularjs.org/api/ng/directive/ngCloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/* Typeface */
$fontDirectory: '/fonts';
@font-face {
	font-family: 'FiraSans';
	font-style: normal;
	font-weight: normal;
	src: url('#{$fontDirectory}/fira/eot/FiraSans-Regular.eot');
	src: url('#{$fontDirectory}/fira/eot/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
			 url('#{$fontDirectory}/fira/woff/FiraSans-Regular.woff') format('woff');
}
@font-face {
	font-family: 'FiraSans';
	font-style: italic;
	font-weight: normal;
	src: url('#{$fontDirectory}/fira/eot/FiraSans-RegularItalic.eot');
	src: url('#{$fontDirectory}/fira/eot/FiraSans-RegularItalic.eot?#iefix') format('embedded-opentype'),
			 url('#{$fontDirectory}/fira/woff/FiraSans-RegularItalic.woff') format('woff');
}
@font-face {
	font-family: 'FiraSans';
	font-style: normal;
	font-weight: bold;
	src: url('#{$fontDirectory}/fira/eot/FiraSans-Bold.eot');
	src: url('#{$fontDirectory}/fira/eot/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
			 url('#{$fontDirectory}/fira/woff/FiraSans-Bold.woff') format('woff');
}
@font-face {
	font-family: 'FiraSans';
	font-style: italic;
	font-weight: bold;
	src: url('#{$fontDirectory}/fira/eot/FiraSans-BoldItalic.eot');
	src: url('#{$fontDirectory}/fira/eot/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
			 url('#{$fontDirectory}/fira/woff/FiraSans-BoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'FiraMono';
	font-style: normal;
	font-weight: normal;
	src: url('#{$fontDirectory}/fira/eot/FiraMono-Regular.eot');
	src: url('#{$fontDirectory}/fira/eot/FiraMono-Regular.eot?#iefix') format('embedded-opentype'),
			 url('#{$fontDirectory}/fira/woff/FiraMono-Regular.woff') format('woff');
}
@font-face {
	font-family: 'FiraMono';
	font-style: normal;
	font-weight: bold;
	src: url('#{$fontDirectory}/fira/eot/FiraMono-Bold.eot');
	src: url('#{$fontDirectory}/fira/eot/FiraMono-Bold.eot?#iefix') format('embedded-opentype'),
			 url('#{$fontDirectory}/fira/woff/iraMono-Bold.woff') format('woff');
}

/* Icons */
@font-face {
	font-family: 'shownotes-icons';
	src: url('#{$fontDirectory}/icons/shownotes-icons.eot?-155ms6');
	src: url('#{$fontDirectory}/icons/shownotes-icons.eot?#iefix-155ms6') format('embedded-opentype'),
			 url('#{$fontDirectory}/icons/shownotes-icons.woff?-155ms6') format('woff'),
			 url('#{$fontDirectory}/icons/shownotes-icons.ttf?-155ms6') format('truetype'),
			 url('#{$fontDirectory}/icons/shownotes-icons.svg?-155ms6#shownotes-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
*[class^="icon-"],
*[class*=" icon-"] {
	font-family: 'shownotes-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}
.icon-home:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e601";
}
.icon-podcast:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e603";
}
.icon-archive:before {
	content: "\e604";
}
.icon-bubble:before {
	content: "\e60b";
}
.icon-bubbles:before {
	content: "\e605";
}
.icon-user:before {
	content: "\e606";
}
.icon-users:before {
	content: "\e607";
}
.icon-search:before {
	content: "\e60a";
}
.icon-key:before {
	content: "\e608";
}
.icon-lock:before {
	content: "\e609";
}
.icon-wrench:before {
	content: "\e610";
}
.icon-settings:before {
	content: "\e611";
}
.icon-cog:before {
	content: "\e612";
}
.icon-menu:before {
	content: "\e613";
}
.icon-link:before {
	content: "\e614";
}
.icon-info:before {
	content: "\e615";
}
.icon-info-n:before {
	content: "\e616";
}
.icon-close:before {
	content: "\e617";
}
.icon-checkmark:before {
	content: "\e618";
}
.icon-minus:before {
	content: "\e619";
}
.icon-plus:before {
	content: "\e620";
}
.icon-loop:before {
	content: "\e621";
}
.icon-arrow-up:before {
	content: "\e622";
}
.icon-arrow-right:before {
	content: "\e623";
}
.icon-arrow-down:before {
	content: "\e624";
}
.icon-arrow-left:before {
	content: "\e625";
}
.icon-twitter:before {
	content: "\e626";
}
.icon-feed:before {
	content: "\e627";
}
.icon-github:before {
	content: "\e628";
}
.icon-flattr:before {
	content: "\e629";
}
.icon-paypal:before {
	content: "\e630";
}

/* Typography */

h1 {
	font-size: 1em;
}
h2,
h3,
h4 {
	line-height: 1.25;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1em;
	color: #999;
	text-transform: uppercase;
}
h4 {
	font-size: 1em;
	font-weight: bold;
}
p,
li,
td,
blockquote,
aside {
	line-height: 1.6;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
blockquote {
	font-style: italic;
}
q {
	quotes:"\201E" "\201C";
}
code,
pre {
	font-family: 'FiraMono', monospace;
	border-radius: .4em;
}
code {
	background-color: #eee;
	padding: .25em .5em;
}
pre {
	background-color: #999;
	color: #fefefe;
	line-height: 1.4;
	white-space: pre-wrap;
	padding: 1em;
	max-height: 20em;
	overflow-y: scroll;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	pre {
		word-break: break-all; /* Chrome fix */
	}
}
hr {
	margin-top: .6em;
	clear: both;
	border: 0;
	border-top: 3px solid #eee;
}
.sidebar hr,
.box-wrapper hr {
	margin-bottom: 1em;
	border-top: 3px solid #fefefe;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.highlight {
	background-color: #ffffcc;
}
.success {
	color: #40a662;
}
.fail {
	color: #a64040;
}

/* Tooltips */
*[data-tooltip]:after {
	content: attr(data-tooltip);
	background-color: rgba(102,102,102,.8);
	color: #fefefe;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	border-radius: .4em;
	padding: .25em .5em;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: -1.5em;
	left: 0;
	right: 0;
	z-index: 2;
	opacity: 0;
}
*[data-tooltip]:hover:after {
	opacity: 1;
}

/* Tables */
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
th,
td {
	text-align: left;
	padding: .5em;
	border-bottom: 3px solid #eee;
}
th {
	white-space: nowrap;
}
table tr:not(:first-child):hover {
	background-color: #eee;
}
table .statuslabel {
	font-size: 1em;
}

/* Inputs */
::-webkit-input-placeholder {
	color: #999;
}
:-moz-placeholder {
	color: #999;
	opacity: 1;
}
::-moz-placeholder {
	color: #999;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #999;
}
input:not([type="search"])::-ms-clear {
	display: none;
}
input,
textarea,
button,
.form-button a {
	font-size: 1em;
	display: block;
	width: 100%;
	padding: .1em 1em;
	border-radius: .4em;
	-webkit-appearance: none;
}
textarea {
	padding: 1em;
}
input:not([type="button"]):not([type="submit"]),
textarea {
	background-color: #eee;
	color: #111;
	font: normal 1em 'FiraMono', monospace;
}
input:not([type="button"]):not([type="submit"]) {
	line-height: 2;
}
textarea {
	line-height: 1.6;
}
input:focus,
textarea:focus {
	outline: none;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
input[type='button'],
input[type='submit'],
button,
.form-button a:link,
.form-button a:visited {
	background-color: #40a662;
	color: #fefefe;
	font-weight: bold;
	line-height: 2;
	border: none;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.3);
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
input[type='button']:hover,
input[type='button']:focus,
input[type='submit']:hover,
input[type='submit']:focus,
button:hover,
button:focus,
.form-button a:hover,
.form-button a:focus {
	background-color: #007369;
	cursor: pointer;
	outline: none;
}
input[type='button']:active,
input[type='submit']:active,
button:active,
.form-button a:active {
	text-decoration: none;
	position: relative;
	top: 1px;
	outline: none;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.2);
}
input[type='button']:disabled,
input[type='button']:disabled:hover,
input[type='button']:disabled:active,
input[type='submit']:disabled,
input[type='submit']:disabled:hover,
input[type='submit']:disabled:active,
button:disabled,
button:disabled:hover,
button:disabled:active {
	background-color: #ccc;
	color: #999;
	cursor: default;
	top: 0;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.3);
}
.button-group {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
}
.button-group > * {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 0;
}
.button-group > *:not(:last-child) {
	margin-right: 3px;
}
.button-group > *:first-child {
	border-top-left-radius: .4em;
	border-bottom-left-radius: .4em;
}
.button-group > *:last-child {
	border-top-right-radius: .4em;
	border-bottom-right-radius: .4em;
}
.actionStatus {
	display: inline-block;
}
.actionStatus > * {
	font-weight: bold;
}

/* Links */
a:link,
a:visited,
.sighting-editormode > span.active /* preview / edit links in document-sighting */ {
	color: #40a662;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
a:hover,
a:focus,
a:active {
	color: #007369;
}
a:active {
	text-decoration: underline;
}

/* Body */
body {
	background: #fefefe url('../images/background.png') bottom right no-repeat fixed;
	color: #111;
}

/* Layout Container */
.container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
	min-height: 100vh;
}
.container > * {
	padding: 2em;
}

/* Sidebar */
.sidebar {
	background-color: #eee;
	box-shadow: 0 .25em .25em rgba(0,0,0,.8);
	position: relative;
	min-width: 20em;
	max-width: 20em;
	z-index: 1337;
}
.sidebar > *:not(:first-child):not(:last-child) {
	margin-bottom: 2em;
}

/* Sidebar header */
header {
	margin-bottom: 2em;
}
header a {
	display: block;
}
header h1 {
	line-height: 1;
	margin-bottom: 1em;
}
header object,
header img {
	width: 100%;
	height: auto;
}
header .small {
	display: none;
}

/* Navigation */
nav {
	margin: 0 -2em 0 -2em;
}
nav ul {
	list-style: none;
}
nav li {
	position: relative;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
nav li:not(:last-child) {
	border-bottom: 3px solid #eee;
}
nav li > a:link,
nav li > a:visited,
nav li > label,
nav .search {
	background-color: #fefefe;
	font-weight: bold;
	text-decoration: none;
	display: block;
	position: relative;
	padding: 1em 2em;
}
nav li > label {
	color: #40a662;
	z-index: 2;
}

nav li > label:hover {
	color: #007369;
	cursor: pointer;
}
nav li.search {
	padding-right: 0;
}
nav li.search label {
	padding: 0;
	display: inline-block;
	z-index: 0;
}
nav li.search label {
	color: #40a662;
	cursor: default;
}
nav li.search input[type="search"] {
	background-color: #fefefe;
	display: inline-block;
	width: 14em;
	padding: 1em 2em 1em 0;
	margin: -1em 0;
	border-radius: 0;
}
nav li.search input[type="search"]:focus {
	box-shadow: none;
}
nav .toggle {
	position: relative;
}
nav .toggle .arrow {
	color: #eee;
	font-size: 2em;
	position: absolute;
	top: .5em;
	right: 0;
}
nav .toggle:hover .arrow {
	display: block !important;
}
nav span[class^="icon-"],
nav span[class*=" icon-"] {
	font-size: 2em;
	width: 2em;
	display: inline-block;
	vertical-align: middle;
}
nav .caption {
	width: 12em;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
nav.account .caption {
	width: 10em;
}

/* Sidebar Form */
#toggle-form:checked + .account-wrapper {
	width: 100%;
	position: absolute;
	top: 4em;
	z-index: 1;
	box-shadow: -0.25em 0.1em 0.25em 0.1em rgba(0, 0, 0, 0.3);
}
nav li > input[type="checkbox"] {
	display: none;
}
.account form {
	background-color: #fefefe;
	padding: 0 2em 1em 2em;
	margin: 0 auto;
}
.form-input > * {
	flex: 1 100%;
	margin-bottom: 1em;
}
.form-check,
.form-button {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
}
.form-check > * {
	width: auto;
}
.account .form-check > * {
	margin-bottom: 1em;
}
.form-check > input {
	margin-right: 1em;
}
.form-button > *:last-child {
	margin-left: 1em;
}
.form-button a:link,
.form-button a:visited {
	text-align: center;
}
.pwreset {
	margin-bottom: 1em;
}

/* Sidebar footer */
.sidebar footer {
	color: #999;
}
.sidebar footer p {
	font-size: .8em;
}
.sidebar footer p:not(:last-child) {
	margin-bottom: 1em;
}

/* Main Content */
.content {
	width: 100%;
	/*max-width: 60em;*/
}
.content > *:not(:last-child):not(h2):not(h3):not(.archive) {
	margin-bottom: 2em;
}
.content h2,
.content h3 {
	margin-bottom: 1em;
}
.content h4+p,
.content p+p {
	margin-top: -1em;
}
.content h2 span {
	font-size: .55em;
}
.content h2+h3 {
	margin-top: -1.5em;
}
.content ul,
.content ol {
	padding-left: 1em;
	margin-top: 1em;
}
.content ol {
	padding-left: 1.5em;
}
.content li > ul,
.content li > ol {
	margin-top: 0;
}
.box-wrapper {
	background-color: #eee;
	padding: 2em;
	border-radius: .4em;
}
.box-wrapper h3,
.box-wrapper p:not(:last-child),
.box-wrapper form:not(:last-child),
.box-wrapper ul,
.box-wrapper ol {
	margin-bottom: 1em;
}
.box-wrapper input:not([type="button"]):not([type="submit"]),
.box-wrapper textarea {
	background-color: #fefefe;
}
.statuslabel {
	color: #fefefe;
	font-size: .55em;
	font-style: normal;
	vertical-align: middle;
	padding: .25em .5em;
	border-radius: .4em;

	&.unknown {
		background-color: #666;
	}
	&.finished {
		background-color: green;
	}
	&.live {
		background-color: red;
	}
}

/* Form wrapper */
.form-wrapper > *:not(:last-child):not([type="button"]):not([type="submit"]) {
	margin-bottom: 1em;
}
.form-wrapper > input:not([type="file"]):last-of-type {
	display: inline-block;
	max-width: 15em;
	margin-right: 1em;
}
.form-wrapper textarea {
	height: 7em;
}

/* Search */
.result h4 {
	color: #999;
}
.result h4 + p {
	margin-top: 0;
}

/* Pad list */
.padlist {
	width: 100%;
}
.padlist tr > *:first-child {
	padding-left: 1em;
}
.padlist tr > *:last-child {
	padding-right: 1em;
}
.padlist tr > td:nth-child(2) {
	font-weight: bold;
}
.padlist input[type="button"] {
	min-width: 6em;
}
.padlist td.nopodcasts {
  text-align: left;
}
.load {
	max-width: 15em;
	margin: 0 auto;
}

/* Archive */
.archive {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.archive > a {
	width: 150px;
	margin: 0 1em 1em 0;
}
.archive a > img {
	display: block;
	width: 150px;
	height: 150px;
	border-top-right-radius: .4em;
	border-top-left-radius: .4em;
}
.archive a:link > h3,
.archive a:visited > h3 {
	background-color: #40a662;
	color: #fff;
	text-transform: none;
	line-height: 1.25;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	padding: .25em .5em;
	border-bottom-right-radius: .4em;
	border-bottom-left-radius: .4em;
}
.archive a:hover > h3 {
	background-color: #007369;
}

/* Document */
.document-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	margin: -2em -2em;
}
.document {
	width: 80%;
	padding: 2em 0 0 2em;
}
.cover-header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
}
.cover-heaver > a {
	display: block;
}
.cover-header img {
	margin-right: 1em;
}
.cover-header h2 {
	margin-bottom: 0;
}
.cover-header h2 + h3 {
	margin: 0 0 .8em 0;
}
.namelist {
  span.delete {
    color: #40a662;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }

  > span:not(.empty):not(:last-child)::after {
    content: ',\20'
  }
}
.document-header,
.sighting-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
}
.sighting-wrapper > * {
	width: 50%;
}
.sighting-wrapper > *:first-child {
	margin-right: 2em;
}
.sighting-wrapper h2+h3 {
	margin-top: 0;
}
.sighting-title-number {
	color: gray;
	font-size: 0.65em !important;
}
.document-header > * {
	width: 50%;
}
.document-meta {
	padding-right: 1em;
}
.document-meta h2+h3 {
	margin: 0 0 1em 0;
}
.document-actions {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.document-actions > * {
	flex: 1 0 auto;
	margin: 0 1em 1em 0;
}
.shownotes-meta {
	padding-right: 2em;
}
.input-group {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
}
.box-wrapper .input-group {
	margin-bottom: 0;
}
.input-group {
	margin: 1em 0;
}
.input-group > *:last-child {
	margin-left: 1em;
	width: auto;
	min-width: 7em;
}
.namelist a {
	display: inline-block;
	vertical-align: middle;
}
.document .editor {
	margin-left: -2em;
}
.documentIframe {
	width: 100%;
	height: 100%;
}

/* Chat */
.chat {
	width: 20%;
	height: 100vh;
	overflow-y: scroll;
	box-shadow: 0 .25em .25em rgba(0,0,0,.8);
}
.chat p {
	font-size: .8em;
	padding: .25em;
}
.chat p:last-of-type {
	margin-bottom: 5.625em;
}
.chat time {
	float: right;
	padding: .25em;
	opacity: .5;
}
.chat-input {
	background-color: #fefefe;
	box-shadow: 0.5em -0.5em .5em 0.1em rgba(0, 0, 0, 0.3);
	position: fixed;
	bottom: 0;
}
.chat-input > * {
	border-radius: 0;
}

/* Covers */
img.cover {
	width: 100px;
	height: 100px;
	border-radius: .4em;
}
.coverlist {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.coverlist span {
	margin: 0 1em 1em 0;
	cursor: pointer;
	position: relative;
}
.coverlist span:after {
	content: ' ';
	color: transparent;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: .5em solid #40a662;
	border-radius: .4em;
	opacity: 0;
}
.coverlist span:hover:after {
	opacity: 1;
}
.coverlist span.active:after {
	border: .5em solid #007369;
	opacity: 1;
}

/* Read-only archive */
.document-list h2,
.document-block h2 {
	font-weight: normal;
	margin-bottom: .7em;
}
.document-list *[data-tooltip]:after,
.document-block *[data-tooltip]:after {
	width: 7em; /* 12:34:56.789 */
}

/* List view */
.document-list h2 span {
	color: #999; 
	font-size: 1em;
}
.document-list ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 1em;
}
.document-list ul ul {
	margin-left: 1em;
}
.document-list li a,
.document-list span {
	position: relative;
}

/* Block view */
.document-block dl:not(:last-of-type) {
	margin-bottom: 1em;
}
.document-block dt {
	color: #999;
	font-size: 1.5em;
	line-height: 1.25;
	margin-right: 1em;
}
.document-block dd span {
	line-height: 2.5;
}
.document-block span {
	background-color: #eee;
	position: relative;
	padding: .5em;
	border-radius: .4em;
	display: inline-block;
}

/* User profiles */
ul.profile {
	display: table;
	padding: 0;
}
ul.profile li {
	display: table-row;
}
ul.profile li:before {
	display: table-cell;
	content: attr(data-social) ':';
	font-weight: bold;
	padding-right: 1em;
}

/* Icon list */
ul.iconlist {
	list-style: none;
	padding-left: 0;
}
.iconlist li {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
	margin-bottom: 2em;
}
.iconlist span {
	vertical-align: top;
}
.iconlist span:first-child {
	color: #999;
	font-size: 2em;
	margin-right: .5em;
}
.iconlist h3 {
	margin-bottom: 0;
}

/* Color picker */
.sp-replacer {
	color: inherit;
	padding: 0;
	border: none;
}
.sp-preview {
	border: 1px solid #111;
}
.sp-picker-container {
	width: 15em;
	border-left: none;
}
.sp-container {
	background-color: #eee;
	border: 1px solid #111;
}
.sp-cancel {
	color: inherit;
}

/* Styleguide */
.colorblock {
	width: 5em;
	height: 5em;
	position: relative;
	border: 3px solid #111;
	border-radius: .4em;
}
.colorblock span {
	line-height: 1.6;
	position: absolute;
	top: 0;
	left: 6em;
	width: 10em;
}

/* Importer Logs */
.importerlog {
	table {
		td {
			vertical-align: top;
			border: 3px solid #eee;
		}
	}

	.succeeded {
		background-color: #00AF00;
	}
	.failed {
		background-color: #AF0000;
	}
}

/* Misc */
.rules > *:not(:last-child) {
	margin-bottom: 1em;
}

/**
 * (C)Leanest CSS spinner ever
 * http://lea.verou.me/2013/11/cleanest-css-spinner-ever/
 */

@keyframes spin {
	to { transform: rotate(1turn); }
}

.progress {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 0 .5em;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	animation: spin 1s infinite steps(8);
}

.small.progress {
	font-size: 3px;
}

.large.progress {
	font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee; /* container height - part height */
	transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
	background: #555;
}

.progress:after {
	transform: rotate(-45deg);
	background: #777;
}

.progress > div:before {
	transform: rotate(-90deg);
	background: #999;
}

.progress > div:after {
	transform: rotate(-135deg);
	background: #bbb;
}

/* Main footer */
footer a:link,
footer a:visited {
	color: #666;
	white-space: nowrap;
}
footer a:hover {
	color: #111;
}
.content footer {
	font-size: .8em;
}
.content footer ul {
	text-align: right;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-direction: row;
	list-style: none;
	padding-top: 1em;
	border-top: 2px solid #eee;
}
.content footer li:not(:last-child) {
	margin-right: 2em;
}

/* Responsive sidebar (main content is fluid) */
@media only screen and (max-width: 992px) {
	td {
		vertical-align: top;
	}
	input,
	textarea,
	button,
	.form-button a,
	input:not([type="button"]):not([type="submit"]),
	textarea {
		font-size: .8em;
	}
	input,
	textarea,
	button,
	.form-button a {
		letter-spacing: .05em;
	}
	.sidebar {
		min-width: 6em;
		max-width: 6em;
	}
	.sidebar > *:not(:first-child):not(:last-child) {
		margin-bottom: 1em;
	}
	header .large,
	.sidebar p,
	.sidebar .caption,
	.chat {
		display: none;
	}
	header {
		margin-bottom: 1em;
	}
	header .small {
		display: block;
	}
	.sidebar {
		padding: 1em;
	}
	nav {
		margin: 0px -1em;
	}
	nav .toggle .arrow,
	nav .toggle:hover .arrow {
		display: none !important;
	}
	.account form {
		padding: 1em;
		min-width: 17em;
		position: absolute;
		border-left: none;
		border-top-right-radius: .4em;
		border-bottom-right-radius: .4em;
		box-shadow: .25em .25em 1em rgba(0,0,0,.5);
		z-index: 1000;
	}
	.account .button {
		-webkit-flex-flow: column;
		flex-direction: column;
	}
	.account .button > *:last-child {
		margin: 1em 0 0 0;
	}
	nav li.search {
		padding: 0;
	}
	nav li.search span {
		padding: 0.5em 2em 0 1em
	}
	nav li.search input[type="search"] {
		font-size: 1em;
		width: 6em;
		padding: 0 .5em;
		margin: 0;
	}
	.content {
		min-width: 25em;
	}
	.padlist tr > th:nth-child(3),
	.padlist tr > td:nth-child(3) {
		display: none;
	}
	.document {
		width: 100%;
	}
	.document-header > * {
		padding-right: 1em;
	}
	.sighting-wrapper {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.sighting-wrapper > * {
		width: 100%;
	}
	.sighting-wrapper > *:first-child {
		margin-right: 0;
	}
	.sighting-wrapper > *:not(:last-child),
	.sighting-wrapper .form-check {
		margin-bottom: 2em;
	}
	.document-block dt {
		font-size: 1em;
		font-weight: bold;
	}
}

/* Print layout */
@media print {
	* {
		background-color: #fff !important;
		color: #000 !important;
		text-shadow: none !important;
		text-align: left !important;
		border: none;
		width: 100% !important;
		box-shadow: none !important;
	}
	td,
	th {
		border-bottom: 1px solid #000;
	}
	hr {
		border-top: 1px solid #000;
	}
	input,
	input[type="submit"],
	button,
	textarea,
	.box-wrapper {
		border: 1px solid #000;
	}
	.container {
		display: block;
	}
	.sidebar,
	.content {
		padding: 0;
	}
	.sidebar > *:not(header),
	.button-group,
	header img,
	.sp-replace {
		display: none;
	}
	header h1 {
		font-size: 2em;
	}
	header a:before {
		content: 'shownot.es';
	}
}
