<h2>
	{{doc.episode.podcast.title}} <span class="sighting-title-number">{{doc.episode.number || '(keine Nummer)'}}</span>
	<span class="statuslabel unknown" title="Es liegen keine Informationen von xenim vor.">Unbekannt</span>
	<span class="statuslabel finished">Beendet</span>
	<span class="statuslabel live">Live</span>
</h2>
<h3>{{doc.episode.date | date : 'medium'}}</h3>

<div class="box-wrapper">
	<h3 class="sighting-editormode">
		<span ng-click="editorMode = 'preview'" ng-class="{ active: (editorMode != 'preview') }">Vorschau</span>
		&mdash;
		<span ng-click="editorMode = 'edit'" ng-class="{ active: (editorMode != 'edit') }">Bearbeiten</span>
	</h3>

	<div class="editor">
		<document-editor document="doc" ng-if="editorMode == 'edit'"></document-editor>
		<document-render document="doc" show-formats="true" ng-if="editorMode == 'preview'"></document-render>
	</div>
</div>

<div class="sighting-wrapper">

	<div class="box-wrapper">
		<h3>Podcaster</h3>
		<name-list names="publication.podcasters" name-attr="name" add-name="addPodcaster" del-name="delPodcaster"></name-list>
	</div>

	<div class="box-wrapper">
		<h3>Helfer</h3>
		<name-list names="doc.meta.shownoters" name-attr="name" add-name="addShownoter" del-name="delShownoter"></name-list>
	</div>

</div>

<div class="box-wrapper">
	<h3>Cover auswählen</h3>

	<div class="coverlist">
		<span ng-repeat="cover in covers"
			  ng-class="{ active: ($parent.selectedCover.id == cover.id) }"
			  ng-click="$parent.selectedCover.id = cover.id">
			<media-image path="cover.file"></media-image>
		</span>
		<span ng-class="{ active: (selectedCover == newCoverUrl) }"
			  ng-click="selectedCover = newCoverUrl"
			  ng-show="newCoverUrl">
			<img src="{{newCoverUrl}}"/>
		</span>
	</div>

	<hr />

	<h3>Cover einbinden</h3>

	<!--
	<form class="form-wrapper">
		<input type="file" name="coverupload" accept="image/*" />
	</form>

	<p>oder</p>
	-->

	<form>
		<input type="text" id="coverurl" ng-model="newCoverUrl" placeholder="Cover-URL eingeben" />
	</form>

	<p><strong>Wichtig:</strong> Vor dem Hochladen bitte entsprechende Erlaubnis einholen. Ein Cover sollte mindestens 150 &times; 150 Pixel groß (und quadratisch) sein.</p>

</div>

<div class="sighting-wrapper">

	<div class="box-wrapper">
		<h3>Episodennummer</h3>
		<p>
			Die letzten Episodennummern in diesem Podcast waren: <b>133</b>, <b>51</b> und <b>61</b>.
		</p>
		<div class="input-group">
			<input ng-model="epnumber" type="text" />
			<input type="submit" value="Setzen" ng-click="setEpisodeNumber()" />
		</div>
	</div>

	<div class="box-wrapper">
		<h3>Notiz</h3>
		<form class="form-wrapper">
			<textarea ng-model="publication.comment" placeholder="Bemerkungen für Podcaster / andere Sichter"></textarea>
		</form>
	</div>		

</div>

<form class="form-wrapper">
	<div class="form-check">
			<input type="checkbox" id="preliminary" ng-model="publication.preliminary" value="checkrules" />
			<label for="preliminary">Als <em>vorläufig</em> markieren</label>
		</div>
	<input type="submit" value="Version sichten" ng-click="publish()" ng-disabled="!episode.number" />
	<span ng-show="pubFailed">Nope. :(</span>
</form>