<h2>
	{{doc.episode.podcast.title}} <span class="sighting-title-number">{{doc.episode.number || '(keine Nummer)'}}</span>
	<span class="statuslabel unknown" title="{{ 'DOCUMENT_SIGHTING_NOINFO' | translate }}" translate="DOCUMENT_SIGHTING_UNKNOWN"></span>
	<span class="statuslabel finished" translate="DOCUMENT_SIGHTING_ENDED"></span>
	<span class="statuslabel live" translate="DOCUMENT_SIGHTING_LIVE"></span>
</h2>
<h3>{{doc.episode.date | date : 'medium'}}</h3>

<div class="box-wrapper">
	<h3 class="sighting-editormode">
		<span ng-click="editorMode = 'preview'" ng-class="{ active: (editorMode != 'preview') }" translate="DOCUMENT_SIGHTING_PREVIEW"></span>
		&mdash;
		<span ng-click="editorMode = 'edit'" ng-class="{ active: (editorMode != 'edit') }" translate="DOCUMENT_SIGHTING_EDIT"></span>
	</h3>

	<div class="editor sighting-editor">
		<document-editor class="editor" document="doc" ng-show="editorMode == 'edit'"></document-editor>
		<document-render class="preview" document="doc" show-formats="true" ng-show="editorMode == 'preview'"></document-render>
	</div>
</div>

<div class="sighting-wrapper">

	<div class="box-wrapper">
		<h3 translate="DOCUMENT_SIGHTING_PODCASTER"></h3>
		<name-list names="publication.podcasters" name-attr="name" add-name="addPodcaster" del-name="delPodcaster"></name-list>
	</div>

	<div class="box-wrapper">
		<h3 translate="DOCUMENT_SIGHTING_HELPER"></h3>
		<name-list names="doc.shownoters" name-attr="name" add-name="addShownoter" del-name="delShownoter"></name-list>
	</div>

</div>

<div class="box-wrapper">
	<h3 translate="DOCUMENT_SIGHTING_COVER"></h3>

	<div class="coverlist">
		<span ng-repeat="cover in covers"
			  ng-class="{ active: ($parent.selectedCover.id == cover.id) }"
			  ng-click="$parent.selectedCover.id = cover.id">
			<media-image path="cover.file"></media-image>
		</span>
		<span ng-class="{ active: (selectedCover == newCoverUrl) }"
			  ng-click="selectedCover = newCoverUrl"
			  ng-show="newCoverUrl">
			<img src="{{newCoverUrl}}"/>
		</span>
	</div>

	<hr />

	<h3 translate="DOCUMENT_SIGHTING_EMBED_COVER"></h3>

	<!--
	<form class="form-wrapper">
		<input type="file" name="coverupload" accept="image/*" />
	</form>

	<p>oder</p>
	-->

	<form>
		<input type="text" id="coverurl" ng-model="newCoverUrl" placeholder="{{ 'DOCUMENT_SIGHTING_COVER_URL' | translate }}" />
	</form>

	<p translate="DOCUMENT_SIGHTING_IMPORTANT"></p>

</div>

<div class="sighting-wrapper">

	<div class="box-wrapper">
		<h3 translate="DOCUMENT_SIGHTING_EPISODE_NUMBER"></h3>
		<p>
			{{ 'DOCUMENT_SIGHTING_OLD_NUMBERS' | translate }}<number-list numbers="oldNumbers"></number-list>.
		</p>
		<div class="input-group">
			<input ng-model="epnumber" type="text" />
			<input type="submit" value="{{ 'DOCUMENT_SIGHTING_SET' | translate }}" ng-click="setEpisodeNumber()" />
		</div>
	</div>

	<div class="box-wrapper">
		<h3 translate="DOCUMENT_SIGHTING_NOTE"></h3>
		<form class="form-wrapper">
			<textarea ng-model="publication.comment" placeholder="{{ 'DOCUMENT_SIGHTING_COMMENT' | translate }}"></textarea>
		</form>
	</div>		

</div>

<form class="form-wrapper">
	<div class="form-check">
			<input type="checkbox" id="preliminary" ng-model="publication.preliminary" value="checkrules" />
			<label for="preliminary" translate="DOCUMENT_SIGHTING_TEMPORARILY"></label>
		</div>
	<input type="submit" value="{{ 'DOCUMENT_SIGHTING_VERSION' | translate }}" ng-click="publish()" ng-disabled="!episode.number" />
	<span ng-show="pubFailed" translate="DOCUMENT_SIGHTING_FAILED"></span>
</form>