<div class="cover-header">

	<media-image alt="cover" class="cover" path="podcast.cover.file"></media-image>

	<div>
		<h2>{{podcast.title}}</h2>
		<h3>{{filterepisodes.length}}
            <span ng-if="filterepisodes.length == 1">Episode</span>
            <span ng-if="filterepisodes.length != 1">Episoden</span>
        </h3>
	</div>

</div>

<p>Durchschnitt: <strong>5 Podcaster</strong> und <strong>4 Shownoter</strong> pro Sendung</p>

<table>
	<tr>
		<th>Episode</th>
		<th>Datum</th>
		<th>Podcaster</th>
		<th>Shownoter</th>
	</tr>
	<tr ng-repeat="ep in (filterepisodes = (podcast.episodes | filter:hasPub()) | orderBy:'number':true)">
		<td><a ui-sref="view-episode({ podcast: podcast.slug, number: ep.number })">
			<span ng-hide="ep.title">Episode {{ep.number}}</span>
			<span ng-show="ep.title">{{ep.title}}</span>
		</a></td>
		<td>{{ep.date | date:'medium'}}</td>
		<td>{{getPub(ep).podcasters.length}}</td>
		<td>{{getPub(ep).shownoters.length}}</td>
	</tr>
	<tr ng-hide="filterepisodes.length > 0">
		<td colspan="4">keine Episoden</td>
	</tr>
</table>