<div ng-show="!user" class="content">
	<h2 translate="PROFILE_FAILURE"></h2>
	<h3 translate="PROFILE_HINT"></h3>
	<p translate="PROFILE_SORRY"></p>
</div>

<div ng-show="user" class="content">

	<h2>
		{{user.username}}
		<span class="statuslabel" ng-show="user.role == 'user'" translate="PROFILE_MEMBER"></span>
		<span class="statuslabel" ng-show="user.role == 'admin'" translate="PROFILE_ADMIN"></span>
	</h2>
	<h3><span translate="PROFILE_LAST_LOGIN" translate-values="{ time: '{{last_login}}'}"></span></h3>

	<p ng-show="user.username == currentUser.username">{{ 'PROFILE_HELLO1' | translate }}{{user.username}}{{ 'PROFILE_HELLO2' | translate }}<a ui-sref="user-profile">{{ 'PROFILE_HELLO3' | translate }}</a>?</p>

	<div class="box-wrapper">
		<h3 translate="PROFILE_BIO"></h3>
		<p>
			<span ng-show="user.bio">{{user.bio}}</span>
			<span ng-show="!user.bio" translate="PROFILE_NO_BIO"></span>
		</p>
	</div>

	<ul class="profile">
		<li data-social="Flattr" ng-show="user.socials['flattr']"><a href="https://flattr.com/profile/{{user.socials['flattr']}}" title="{{ 'PROFILE_FLATTR' | translate:'{ name: user.username}' }}">{{user.socials['flattr']}}</a></li>
		<li data-social="Twitter" ng-show="user.socials['twitter']"><a href="https://twitter.com/{{user.socials['twitter']}}" title="{{ 'PROFILE_TWITTER' | translate:{ name:'{user.username}'} }}">{{user.socials['twitter']}}</a></li>
		<li data-social="App.net" ng-show="user.socials['appnet']"><a href="https://alpha.app.net/{{user.socials['appnet']}}" title="{{ 'PROFILE_TWITTER' | translate:{ name:'{user.username}'} }}">{{user.socials['appnet']}}</a></li>
    <li data-social="XMPP" ng-show="user.socials['xmpp']">{{user.socials['xmpp']}}</li>
    <li data-social="IRC" ng-show="user.socials['irc']">{{user.socials['irc']}}</li>
  </ul>

</div>

<snotes-footer></snotes-footer>
