<div ng-show="!user" class="content">
	<h2>Fehler: Benutzer nicht gefunden</h2>
	<h3>Hinweis</h3>
	<p>Entschuldige, aber der gewünschte Benutzer konnte nicht gefunden werden.</p>
</div>

<div ng-show="user" class="content">

	<h2>
		{{user.username}}
		<span class="statuslabel" ng-show="user.role == 'user'">Mitglied</span>
		<span class="statuslabel" ng-show="user.role == 'admin'">Administrator</span>
	</h2>
	<h3><span>war {{last_login}} online</span></h3>

	<p ng-show="user.username == currentUser.username">
		Hallo <em>{{user.username}}</em>! Möchtest du dein <a ui-sref="user-profile">Profil bearbeiten</a>?
	</p>

	<div class="box-wrapper">
		<h3>Biographie</h3>
		<p>
			<span ng-show="user.bio">{{user.bio}}</span>
			<span ng-show="!user.bio">Dieses Mitglied hat noch keine Biographie angelegt.</span>
		</p>
	</div>

	<ul class="profile">
		<li data-social="Flattr" ng-show="user.socials['flattr']"><a href="#" title="{{user.username}} auf Flattr">{{user.socials['flattr']}}</a></li>
		<li data-social="Twitter" ng-show="user.socials['twitter']"><a href="#" title="{{user.username}} auf Twitter">{{user.socials['twitter']}}</a></li>
		<li data-social="App.net" ng-show="user.socials['appnet']"><a href="#" title="{{user.username}} auf App.net">{{user.socials['appnet']}}</a></li>
	</ul>

</div>

<snotes-footer></snotes-footer>
