<div class="document-wrapper">

	<div class="document">

		<div class="document-header">

			<div class="document-meta">

				<div ng-show="doc.episode">
					<h2>{{doc.episode.podcast.title}}</h2>
					<h3><span ng-show="doc.episode.number">{{ 'DOCUMENT_EDIT_EPISODE' | translate }} {{doc.episode.number}},</span> {{doc.episode.date | date : 'medium'}}</h3>
				</div>

				<div ng-show="!doc.episode">
					<h2>{{doc.name}}</h2>
				</div>

				<div class="document-actions" ng-show="doc.episode">

					<form class="shownoter">
						<input type="submit" value="{{ 'DOCUMENT_EDIT_APPLY' | translate }}" ng-show="!isShownoter()" ng-click="addShownoter()" />
						<input type="submit" value="{{ 'DOCUMENT_EDIT_REMOVE' | translate }}" ng-show="isShownoter()" ng-click="delShownoter()" />
					</form>

					<form class="sighting">
						<input type="submit" value="{{ 'DOCUMENT_EDIT_SIGHTING' | translate }}" ng-show="canPublish" ng-click="doSighting()" />
						<input type="submit" value="{{ 'DOCUMENT_EDIT_REQUEST_SIGHTING' | translate }}" ng-show="!canPublish && !hasPublicationRequests()" ng-click="requestSighting()" />
						<input type="submit" value="{{ 'DOCUMENT_EDIT_SIGHTING_REQUESTED' | translate }}" ng-show="!canPublish && hasPublicationRequests()" disabled />
					</form>

				</div>

			</div>

			<div class="shownotes-meta">

				<p><strong translate="DOCUMENT_EDIT_PODCASTER"></strong>:</p>
				<name-list names="doc.meta.podcasters" name-attr="name" add-name="addPodcaster" del-name="delPodcaster"></name-list>

			</div>

		</div>

		<div class="editor">
			<document-editor document="doc"></document-editor>
		</div>

	</div>

	<!--<div class="chat">-->

		<!--<div class="userlist">
			<h3><span class="icon-users"></span> Jetzt online: 3</h3>
			<ul>
				<li>
					<a href="/profile/luto" class="statuslabel" style="background-color: #ffc;" title="Mitglied, online">luto</a>
					<span class="icon-close ban" title="Mitglied sperren"></span>
				</li>
				<li>
					<a href="/profile/laengerername" class="statuslabel" style="background-color: #fcc;" title="Mitglied, online">laengerername</a>
					<span class="icon-close ban" title="Mitglied sperren"></span>
				</li>
				<li>
					<a href="/profile/kai" class="statuslabel inactive" style="background-color: #fcc;" title="Mitglied, nicht online">kai</a>
					<span class="icon-close ban" title="Mitglied sperren"></span>
				</li>
			</ul>
		</div>-->

		<!--<div class="chatmsgs">
			<p ng-repeat="msg in chatmessages" style="background-color: #{{msg.issuer.color}}">
				<time>{{msg.date | date: 'shortTime'}}</time>
				<strong>{{msg.issuer.name}}:</strong> {{msg.message}}
			</p>
		</div>

		<form class="chat-input">
			<input type="text" value="" placeholder="{{ 'DOCUMENT_EDIT_CHAT_PLACEHOLDER' | translate }}" ng-model="chatmsg.message" />
			<input type="submit" value="{{ 'DOCUMENT_EDIT_CHAT_SEND' | translate }}" ng-click="sendChatMsg()" />
		</form>

	</div>-->

</div>