<h2 translate="ARCHIVE_SHOWS"></h2>

<p translate="ARCHIVE_INTRODUCTION"></p>

<h3 translate="ARCHIVE_RECENTLY"></h3>

<div class="archive">
    <archivebox ng-repeat="pod in recentpodcasts" pod="pod"></archivebox>
</div>

<hr />

<h3 translate="ARCHIVE_ALL_SHOWS"></h3>

<div ng-controller="StatisticsCtrl" ng-init="getPodcastTimeline()">
    <canvas  width="500" height="300" id="bar" class="chart chart-bar barchart" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClickPodcasts"></canvas>
</div>

<div class="archive">
    <archivebox ng-repeat="pod in podcasts" pod="pod"></archivebox>
</div>

<snotes-footer></snotes-footer>
