<header>
    <h1><a href="/">
        <img class="large" src="images/shownotes-logo.svg" alt="shownot.es" />
        <img class="small" src="images/shownotes-signet.svg" alt="shownot.es" title="shownot.es" />
    </a></h1>
</header>

<nav class="account" ng-controller="SidebarCtrl">
    <ul>
        <li>
            <label class="toggle" for="toggle-form" title="Mein Account">
                <span class="arrow" ng-class="{true: 'icon-arrow-up', false: 'icon-arrow-down'}[loginform.status === 'down']" ng-show="loginform.status === 'down'"></span>
                <span class="icon-user"></span>
                <span class="caption" ng-show="!$root.currentUser" ng-cloak translate="SIDEBAR_MYACCOUNT"></span>
                <span class="caption" ng-show="$root.currentUser">{{$root.currentUser.username}}</span>
            </label>
            <input type="checkbox" id="toggle-form" ng-model="loginform.status" ng-true-value="'down'" ng-false-value="'up'" />

            <div class="account-wrapper">
                <form cg-busy="loginform.promise" name="loginform.frm" ng-show="!$root.currentUser && loginform.status === 'down'" ng-cloak novalidate>
                    <div class="form-input">
                        <form-error errors="loginform.errors.username"></form-error>
                        <input type="text"
                               ng-model="user.username"
                               placeholder="{{ 'SIDEBAR_USERNAME' | translate }}"
                               value="Test"
                               title="{{ 'SIDEBAR_USERNAME_ENTER' | translate}}"
                               required />
                        <form-error errors="loginform.errors.email"></form-error>
                        <input type="email"
                               ng-model="user.email"
                               ng-show="loginform.mode == 'register'"
                               ng-required="loginform.mode == 'register'"
                               placeholder="{{ 'SIDEBAR_EMAIL' | translate }}"
                               value=""
                               title="{{ 'SIDEBAR_EMAIL_ENTER' | translate }}" />
                        <form-error errors="loginform.errors.password"></form-error>
                        <input type="password"
                               ng-model="user.password"
                               placeholder="{{ 'SIDEBAR_PASSWORD' | translate }}"
                               value=""
                               title="{{ 'SIDEBAR_PASSWORD_ENTER' | translate }}"
                               required />
                        <input type="password"
                               ng-model="user.password2"
                               ng-show="loginform.mode == 'register'"
                               ng-required="loginform.mode == 'register'"
                               placeholder="{{ 'SIDEBAR_PASSWORD_REPEAT' | translate }}"
                               equals="{{user.password}}"
                               value=""
                               title="{{ 'SIDEBAR_PASSWORD_ENTER_REPEAT' | translate }}" />
                    </div>
                    <!--<div class="form-input">
                        <p>Ich akzeptiere die <a href="/rules/">Regeln</a>.</p>
                    </div>-->
                    <p class="pwreset" ng-show="loginform.errors.loginfailed">{{ 'SIDEBAR_PASSWORD_LOST1' | translate }}<a href="#" ng-click="requestPwReset()">{{ 'SIDEBAR_PASSWORD_LOST2' | translate }}</a>?</p>
                    <p ng-show="pwresetdone" translate="SIDEBAR_CHECK_INBOX"></p>
                    <div class="form-button">
                        <input type="{{loginform.mode === 'register' ? 'button' : 'submit'}}" value="{{ 'SIDEBAR_LOGIN' | translate }}" ng-click="login()" />
                        <input type="{{loginform.mode === 'login' ? 'button' : 'submit'}}" value="{{ 'SIDEBAR_REGISTER' | translate }}" ng-click="register()" />
                    </div>
                </form>
                <form ng-show="$root.currentUser && loginform.status === 'down'" ng-cloak>
                    <div class="form-button">
                        <a href="/profile/{{$root.currentUser.username}}/" ng-click="resetState()" translate="SIDEBAR_PROFILE"></a>
                        <input type="button" value="{{ 'SIDEBAR_LOGOUT' | translate }}" ng-click="logout()" />
                    </div>
                </form>
            </div>
        </li>
    </ul>
</nav>

<div class="migrateWarning ng-cloak" ng-hide="!$root.currentUser || $root.currentUser.migrated">
  <h3 translate="SIDEBAR_SHOWPAD_ACCOUNT"></h3>
  <p translate="SIDEBAR_SHOWPAD_TEXT"></p>
</div>


<nav class="menu">
    <ul>
        <li class="search" title="{{ 'SIDEBAR_SEARCH_ENTER' | translate }}" ng-controller="SidebarSearchCtrl">
            <label for="search"><span class="icon-search"></span></label><!--
            --><input type="search"
                      id="search"
                      placeholder="{{ 'SIDEBAR_SEARCH' | translate }}"
                      ng-model="searchTerm"
                      ng-enter="submitSearch()" />
        </li>
        <li title="{{ 'SIDEBAR_SHOWS' | translate }}">
            <a href="/archive/">
                <span class="icon-podcast"></span><span class="caption" translate="SIDEBAR_SHOWS"></span>
            </a>
        </li>
        <!--
        <li title="{{ 'SIDEBAR_WANDLER' | translate }}">
            <a href="/wandler/">
                <span class="icon-podcast"></span><span class="caption" translate="SIDEBAR_WANDLER"></span>
            </a>
        </li>
        -->
        <li title="{{ 'SIDEBAR_FAQ_TITLE' | translate }}">
            <a href="/faq/">
                <span class="icon-info"></span><span class="caption" translate="SIDEBAR_FAQ"></span>
            </a>
        </li>
        <li title="{{ 'SIDEBAR_COMMUNITY' | translate }}">
            <a href="/community/">
                <span class="icon-bubbles"></span><span class="caption" translate="SIDEBAR_COMMUNITY"></span>
            </a>
        </li>
        <!--
        <li title="Administration">
            <a href="/admin/">
                <span class="icon-settings"></span><span class="caption">Administration</span>
            </a>
        </li>
        -->
      <li title="{{ 'SIDEBAR_STATISTICS_TITLE' | translate }}">
            <a href="/statistics/">
                <span class="icon-info"></span><span class="caption" translate="SIDEBAR_STATISTICS"></span>
            </a>
        </li>
      <li class="lang" title="Sprachwahl" ng-controller="LangCtrl">
        <span>
          <a href="" ng-click="changeLang('de_DE')">GER / </a>
          <a href="" ng-click="changeLang('en_US')">ENG</a>
        </span>
      </li>
    </ul>
</nav>

<footer>
    <p translate="SIDEBAR_FOOTER"></p>
    <a class="FlattrButton" style="display:block;" href="http://shownot.es/"></a>
</footer>
