<h2 translate="USER_PROFILE_TITLE"></h2>
<h3 translate="USER_PROFILE_HOME"></h3>

<p>{{ 'USER_PROFILE_HELLO1' | translate }}<em>{{user.username}}</em>!{{ 'USER_PROFILE_HELLO2' | translate }}<a ui-sref="publicprofile({ username: $root.currentUser.username })">{{ 'USER_PROFILE_HELLO3' | translate }}</a></p>


<div class="box-wrapper">
	<h3 translate="USER_PROFILE_BIO"></h3>

	<p translate="USER_PROFILE_PUBLIC"></p>

	<form class="form-wrapper">
		<textarea placeholder="{{ 'USER_PROFILE_BIO_PLACEHOLDER' | translate }}" ng-model="user.bio"></textarea>

		<p>{{ 'USER_PROFILE_COLOR' | translate }}
			<spectrum-colorpicker ng-model="user.color" format="'hex'"></spectrum-colorpicker>
			<span ng-hide="colorOkay()" translate="USER_PROFILE_COLOR_ERROR"></span>
		</p>

		<input type="submit" value="{{ 'USER_PROFILE_SAVE' | translate }}" ng-click="saveBioColor()" />
		<action-status  success-text="{{ 'USER_PROFILE_SAVE_SUCCESS' | translate }}"
						fail-text="{{ 'USER_PROFILE_SAVE_ERROR' | translate }}"
						active="colorbio.active" status="colorbio.status"></action-status>
	</form>
</div>

<div class="box-wrapper">
	<h3 translate="USER_PROFILE_LINK"></h3>

	<p translate="USER_PROFILE_PUBLIC"></p>

	<form class="form-wrapper">
		<input type="text" value="" placeholder="{{ 'USER_PROFILE_FLATTR' | translate }}" ng-model="user.socials['flattr']" />
		<input type="text" value="" placeholder="{{ 'USER_PROFILE_APP' | translate }}" ng-model="user.socials['appnet']" />
		<input type="text" value="" placeholder="{{ 'USER_PROFILE_TWITTER' | translate }}" ng-model="user.socials['twitter']" />
		<input type="submit" value="{{ 'USER_PROFILE_LINK_SAVE' | translate }}" ng-click="saveSocials()" />
		<action-status  success-text="{{ 'USER_PROFILE_LINK_SUCCESS' | translate }}"
						fail-text="{{ 'USER_PROFILE_LINK_ERROR' | translate }}"
						active="socials.active" status="socials.status"></action-status>
	</form>
</div>

<div class="box-wrapper">
	<h3 translate="USER_PROFILE_MAIL_TITLE"></h3>

	<p translate="USER_PROFILE_MAIL_TEXT" translate-values="{ mail: '{{user.email}}'}"></p>

	<form class="form-wrapper">
		<input type="email" value="" placeholder="{{ 'USER_PROFILE_MAIL_NEW' | translate }}" ng-model="changemail.email" />
		<input type="password" value="" placeholder="{{ 'USER_PROFILE_PASSWORD_CONFIRM' | translate }}" ng-model="changemail.password" />
		<input type="submit" value="{{ 'USER_PROFILE_MAIL_CHANGE' | translate }}" ng-click="changeMail()" />
		<action-status  success-text="{{ 'USER_PROFILE_MAIL_SUCCESS' | translate }}"
						fail-text="{{ 'USER_PROFILE_MAIL_ERROR' | translate }}"
						active="changemail.active" status="changemail.status"></action-status>
	</form>
</div>

<div class="box-wrapper">
	<h3 translate="USER_PROFILE_PASSWORD_TITLE"></h3>

	<p translate="USER_PROFILE_PASSWORD_HINT"></p>

	<form class="form-wrapper">
		<input type="password" value="" placeholder="{{ 'USER_PROFILE_PASSWORD_CONFIRM' | translate }}" ng-model="pwchange.password" />
		<input type="password" value="" placeholder="{{ 'USER_PROFILE_PASSWORD_NEW' | translate }}" ng-model="pwchange.newpassword" />
		<input type="password" value="" placeholder="{{ 'USER_PROFILE_PASSWORD_REPEAT' | translate }}" ng-model="pwchange.newpassword2" ng-equals="{{pwchange.newpassword}}" />
		<input type="submit" value="{{ 'USER_PROFILE_PASSWORD_CHANGE' | translate }}" ng-click="changePassword()" />
		<action-status  success-text="{{ 'USER_PROFILE_PASSWORD_SUCCESS' | translate }}"
						fail-text="{{ 'USER_PROFILE_PASSWORD_SUCCESS' | translate }}"
						active="pwchange.active" status="pwchange.status"></action-status>
	</form>
</div>
