<!DOCTYPE html>
<html lang="de">

<head>

	<title>shownot.es</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link type="text/plain" rel="author" href="humans.txt" />
	<meta name="robots" content="index, follow" />
	<meta name="description" content="Die kollaborative Plattform für Sendungsnotizen" />
	<meta name="keywords" content="
	 _____ _____ _____ _____    _____ _____ _____ 
	|   __|  |  |     |  |  |  |   __|   __|     |
	|   __|  |  |   --|    -|  |__   |   __|  |  |
	|__|  |_____|_____|__|__|  |_____|_____|_____|
	" />
	<base href="/">

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#40a662">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">

	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/fira/fira.css" />
	<link rel="stylesheet" href="bower_components/spectrum/spectrum.css" />
	<link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" type="text/css" href="styles/main.css" media="screen, print" />
	<!-- endbuild -->
</head>

<body ng-app="snotes30App">

	<div class="container">

		<section class="sidebar" ng-controller="SidebarController">
			<div class="toggle" title="Seitenleiste verkleinern">
				<span class="icon-arrow-left"></span>
				<!-- <span class="icon-arrow-right"></span> -->
			</div>

			<header>
				<h1><a href="#">

					<object class="large" type="image/svg+xml" data="images/shownotes-logo.svg">
						<img src="images/shownotes-logo.png" alt="shownot.es" />
					</object>

					<object class="small" type="image/svg+xml" data="images/shownotes-signet.svg">
						<img src="images/shownotes-logo.png" alt="shownot.es" />
					</object>

				</a></h1>
			</header>

			<nav class="account">
				<ul>
					<li>
						<label class="toggle" for="toggle-form">
							<span class="arrow" ng-class="{true: 'icon-arrow-up', false: 'icon-arrow-down'}[loginform.status === 'down']" ng-show="loginform.status === 'down'"></span>
							<span class="icon-user"></span>
							<span class="caption" ng-show="!$root.currentUser" ng-cloak>Mein Account</span>
							<span class="caption" ng-show="$root.currentUser">{{$root.currentUser.username}}</span>
						</label>
						<input type="checkbox" id="toggle-form" ng-model="loginform.status" ng-true-value="down" ng-false-value="up" />

						<div class="account-wrapper">
							<form cg-busy="loginform.promise" name="loginform.frm" ng-show="!$root.currentUser && loginform.status === 'down'" ng-cloak novalidate>
								<div class="form-input">
									<form-error errors="loginform.errors.username"></form-error>
									<input type="text"
												 ng-model="user.username"
												 placeholder="Benutzername"
												 value=""
												 title="Gib deinen Benutzernamen ein"
												 required />
									<form-error errors="loginform.errors.email"></form-error>
									<input type="email"
												 ng-model="user.email"
												 ng-show="loginform.mode == 'register'"
												 ng-required="loginform.mode == 'register'"
												 placeholder="E-Mail-Adresse"
												 value=""
												 title="Gib deine E-Mail-Adresse" />
									<form-error errors="loginform.errors.password"></form-error>
									<input type="password"
												 ng-model="user.password"
												 placeholder="Passwort"
												 value=""
												 title="Gib dein Passwort ein"
												 required />
									<input type="password"
												 ng-model="user.password2"
												 ng-show="loginform.mode == 'register'"
												 ng-required="loginform.mode == 'register'"
												 placeholder="Passwort wiederholen"
												 equals="{{user.password}}"
												 value=""
												 title="Wiederhole dein Passwort" />
								</div>
								<div class="form-check" ng-show="loginform.mode == 'register'">
									<input type="checkbox"
												 id="checkrules"
												 value="checkrules"
												 required />
									<label for="checkrules">Ich akzeptiere die <a href="/rules">Regeln</a>.</label>
								</div>
								<div class="pwreset" ng-show="loginform.errors.loginfailed">Hast du dein <a href="#" ng-click="requestPwReset()">Passwort vergessen</a>?</div>
									<div ng-show="pwresetdone">Überprüfe dein Mail-Postfach.</div>
								<div class="form-button">
									<input type="{{loginform.mode === 'register' ? 'button' : 'submit'}}" value="Einloggen" ng-click="login()" />
									<input type="{{loginform.mode === 'login' ? 'button' : 'submit'}}" value="Registrieren" ng-click="register()" />
								</div>
							</form>
							<form ng-show="$root.currentUser && loginform.status === 'down'" ng-cloak>
							<div class="form-button">
								<a href="/user/profile">Profil</a>
								<input type="button" value="Ausloggen" ng-click="logout()" />
							</div>
						</form>
						</div>
					</li>
				</ul>
			</nav>

			<nav class="menu">
				<ul>
					<li title="Sendungen">
						<a href="#">
							<span class="icon-podcast"></span><span class="caption">Sendungen</span>
						</a>
					</li>
					<li title="Häufig gestellte Fragen">
						<a href="#">
							<span class="icon-info"></span><span class="caption">Häufig gestellte Fragen</span>
						</a>
					</li>
					<li title="Community">
						<a href="#">
							<span class="icon-bubbles"></span><span class="caption">Community</span>
						</a>
					</li>
					<li title="Administration">
						<a href="#">
							<span class="icon-settings"></span><span class="caption">Administration</span>
						</a>
					</li>
				</ul>
			</nav>

			<footer>

				<p>Alle Inhalte stehen, soweit nicht anders vermerkt, unter der <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de" rel="license" title="CC0 1.0 Universell (Public Domain Dedication)">CC0-Lizenz</a>.</p>
				<p>Ein Projekt des <a href="#">Shownotes e.V.</a>.</p>

				<!-- Flattr -->
				<a class="FlattrButton" style="display:none;" href="http://shownot.es/"></a>

			</footer>

		</section>

		<section class="content" ng-view=""></section>

	</div>

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/spectrum/spectrum.js"></script>
	<script src="bower_components/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.js"></script>
	<script src="bower_components/angular-busy/dist/angular-busy.js"></script>
	<script src="bower_components/lodash/dist/lodash.compat.js"></script>
	<script src="bower_components/restangular/dist/restangular.js"></script>
	<!-- endbower -->
	<script src="bower_components/ngLocale/angular-locale_de-de.js"></script>
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/livelist.js"></script>
	<script src="scripts/services/document.js"></script>

	<script src="scripts/controllers/sidebar.js"></script>
	<script src="scripts/services/authentication.js"></script>
	<script src="scripts/directives/equals.js"></script>
	<script src="scripts/directives/formerror.js"></script>

	<script src="scripts/controllers/user/profile.js"></script>
	<script src="scripts/directives/actionstatus.js"></script>
	<script src="scripts/services/actionStatusGlue.js"></script>

	<script src="scripts/controllers/user/upgrade.js"></script>

	<script src="scripts/controllers/user/activate.js"></script>

	<script src="scripts/controllers/user/pwreset.js"></script>

	<script src="scripts/controllers/document.js"></script>

	<script src="scripts/controllers/document-readonly.js"></script>

	<script src="scripts/controllers/profile.js"></script>

	<script src="scripts/controllers/admin/importstatus.js"></script>
	<!-- endbuild -->

	<script type="text/javascript" src="//api.flattr.com/js/0.6/load.js?mode=auto" async></script>

</body>

</html>