<!DOCTYPE html>
<html lang="de">

<head>

	<title>shownot.es</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
	<link type="text/plain" rel="author" href="humans.txt" />
	<meta name="description" content="" />
	<base href="/">

	<!--<link rel="shortcut icon" type="image/x-icon" href="" />-->
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/fira/fira.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

	<script type="text/javascript" src="//api.flattr.com/js/0.6/load.js?mode=auto" async></script>

</head>

<body ng-app="snotes30App">

	<div class="container">

		<section class="sidebar" ng-controller="SidebarController">

			<header>
				<h1><a href="#">shownot.es</a></h1>
			</header>

			<p>Die kollaborative Plattform für Sendungsnotizen. <a href="#">Was ist das?</a></p>

			<nav class="account" ng-show="!currentUser">
				<ul>
					<li>
						<label class="toggle" for="toggle-form">
							<span class="arrow" ng-class="{true: 'icon-arrow-up', false: 'icon-arrow-down'}[loginform.status === 'down']" ng-show="loginform.status === 'down'"></span>
							<span class="icon-user"></span><span class="caption">Mein Account</span>
						</label>
						<input type="checkbox" id="toggle-form" ng-model="loginform.status" ng-true-value="down" ng-false-value="up"  />
						<form name="loginform.frm" novalidate>
							<div class="form-input">
								<input type="text"
											 ng-model="user.username"
											 placeholder="Benutzername"
											 value=""
											 title="Gib deinen Benutzernamen ein"
											 required />
								<input type="email"
											 ng-model="user.email"
											 ng-show="loginform.mode == 'register'"
											 ng-required="loginform.mode == 'register'"
											 placeholder="E-Mail-Adresse"
											 value=""
											 title="Gib deine E-Mail-Adresse" />
								<input type="password"
											 ng-model="user.password"
											 placeholder="Passwort"
											 value=""
											 title="Gib dein Passwort ein"
											 required />
								<input type="password"
											 ng-model="user.password2"
											 ng-show="loginform.mode == 'register'"
											 ng-required="loginform.mode == 'register'"
											 placeholder="Passwort wiederholen"
											 equals="{{user.password}}"
											 value=""
											 title="Wiederhole dein Passwort" />
							</div>
							<div class="form-check" ng-show="loginform.mode == 'register'">
								<input type="checkbox"
											 id="checkrules"
											 value="checkrules"
											 required />
								<label for="checkrules">Ich akzeptiere die <a href="#">Regeln</a>.</label>
							</div>
							<div class="form-button">
								<input type="{{loginform.mode === 'register' ? 'button' : 'submit'}}" value="Einloggen" ng-click="login()" />
								<input type="{{loginform.mode === 'login' ? 'button' : 'submit'}}" value="Registrieren" ng-click="register()" />
							</div>
						</form>
					</li>
				</ul>
			</nav>

			<nav class="account" ng-show="currentUser">
				<input type="button" value="Ausloggen" ng-click="logout()" />
			</nav>

			<nav class="menu">
				<ul>
					<li title="Administration"><a href="#"><span class="icon-settings"></span><span class="caption">Administration</span></a></li>
					<li title="Sendungen"><a href="#"><span class="icon-podcast"></span><span class="caption">Sendungen</span></a></li>
					<li title="Häufig gestellte Fragen"><a href="#"><span class="icon-info"></span><span class="caption">Häufig gestellte Fragen</span></a></li>
					<li title="Community"><a href="#"><span class="icon-bubbles"></span><span class="caption">Community</span></a></li>
				</ul>
			</nav>

			<footer>
				<p>Alle Inhalte stehen, soweit nicht anders vermerkt, unter der <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de" rel="license" title="CC0 1.0 Universell (Public Domain Dedication)">CC0-Lizenz</a>.</p>
				<!-- <p>shownot.es wird betrieben und weiterentwickelt vom Shownotes e.V.</p> -->
				<!-- <nav>
					<ul>
						<li><a href="#">Spenden</a></li>
						<li><a href="#">Datenschutz</a></li>
						<li><a href="#">Impressum</a></li>
					</ul>
				</nav> -->
				<a class="FlattrButton" style="display:none;" href="http://shownot.es/"></a>
			</footer>

		</section>

		<section class="content" ng-view=""></section>

	</div>

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/lodash/dist/lodash.compat.js"></script>
	<script src="bower_components/restangular/dist/restangular.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/livelist.js"></script>

	<script src="scripts/controllers/sidebar.js"></script>
	<script src="scripts/services/authentication.js"></script>
	<script src="scripts/directives/equals.js"></script>

	<script src="scripts/controllers/user/profile.js"></script>

	<script src="scripts/controllers/user/upgrade.js"></script>

	<script src="scripts/controllers/user/activate.js"></script>

	<script src="scripts/controllers/document.js"></script>
	<!-- endbuild -->

</body>
</html>
