<h2 translate="USER_PROFILE_PWRESET_TITLE"></h2>
<h3 translate="USER_PROFILE_PWRESET_HINT"></h3>

<p translate="USER_PROFILE_PWRESET_HELLO" translate-value="{ name: '{{username}}"></p>

<div class="box-wrapper">
	<h3 translate="USER_PROFILE_PWRESET_TITLE"></h3>

	<form class="form-wrapper">
		<p translate="USER_PROFILE_PWRESET_LENGTH"></p>
		<input type="password" value="" placeholder="{{ 'USER_PROFILE_PWRESET_CHANGE' | translate }}" ng-model="pwreset.password" />
		<input type="password" value="" placeholder="{{ 'USER_PROFILE_PWRESET_CONFIRM' | translate }}" ng-model="pwreset.password2" equals="{{upgrade.password}}" />
		<input type="submit" value="{{ 'USER_PROFILE_PWRESET_SAVE' | translate }}" ng-click="sendPwReset()" />
		<action-status success-text="{{ 'USER_PROFILE_PWRESET_SUCCESS' | translate }}"
					   fail-text="{{ 'USER_PROFILE_PWRESET_ERROR' | translate }}"
					   active="pwreset.active" status="pwreset.status"></action-status>
	</form>
</div>
