<h2>Passwort ändern</h2>
<h3>Und das nächste Mal einfach merken</h3>

<p>Hallo {{username}}! Du kannst nun dein Passwort ändern.</p>

<div class="box-wrapper">
	<h3>Passwort ändern</h3>

	<form class="form-wrapper">
		<p>Denk daran: Je länger das Passwort, umso sicherer ist es.</p>
		<input type="password" value="" placeholder="Neues Passwort" ng-model="pwreset.password" />
		<input type="password" value="" placeholder="Neues Passwort bestätigen" ng-model="pwreset.password2" equals="{{upgrade.password}}" />
		<input type="submit" value="Passwort speichern" ng-click="sendPwReset()" />
		<action-status success-text="Dein Passwort wurde erfolgreich geändert."
					   fail-text="Bitte überprüfe noch einmal deine Angaben."
					   active="pwreset.active" status="pwreset.status"></action-status>
	</form>
</div>
