<div class="cover-header">

	<a href="#"><img src="http://shownot.es/img/logos/cr_logo.png" alt="Chaosradio" class="cover" /></a>

	<div>
		<h2>{{episode.podcast.title}} {{episode.number}}</h2>
		<h3>{{episode.date}}</h3>
		<a ui-sref="document-edit({ name: doc.name })">Bearbeiten</a>
	</div>

</div>

<div class="button-group">
	<button ng-repeat="f in formats" ng-disabled="format == f" ng-click="enableFormat(f)">{{f.caption}}</button>
	<button title="HTML herunterladen"><span class="icon-arrow-down" ng-click="download()"></span></button>
</div>

<hr />

<div ng-if="format.type == 'html'" class="document-{{format.name}}" ng-bind-html="content"></div>
<pre ng-if="format.type == 'osf' || format.type == 'plain'">{{content}}</pre>
