<div class="cover-header">

	<a ui-sref="archive-podcast({ podcast: episode.podcast.slug })">
		<media-image alt="cover" class="cover" path="episode.cover.file || episode.podcast.cover.file"></media-image>
    </a>

	<div>
		<h2>{{episode.podcast.title}} {{episode.number}}</h2>
		<h3>{{episode.date | date:'medium'}}</h3>
		<a href="{{currentUrl}}edit/">Bearbeiten</a>
	</div>

</div>

<ul>
    <li ng-class="{ active: (pub === undefined) }">
        <a ui-sref="document-readonly-pub({ name: doc.name, pub: undefined })">live</a>
    </li>
    <li ng-repeat="pub in episode.publications" ng-class="{ active: (pub === $index) }">
        <a ui-sref="document-readonly-pub({ name: doc.name, pub: $index })">{{pub.create_date | date:'medium'}}</a>
    </li>
</ul>

<document-render document="doc" show-formats="true" publication="pub" refresh="pub === undefined"></document-render>
