<div class="readonly-wrapper">

	<div class="cover-header">

		<a ui-sref="archive-podcast({ podcast: episode.podcast.slug })">
			<media-image alt="cover" class="cover" path="episode.cover.file || episode.podcast.cover.file"></media-image>
		</a>

		<div>
			<h2>{{episode.podcast.title}} {{episode.number}}</h2>
			<h3>{{episode.date | date:'medium'}}</h3>
			<a href="{{docEditUrl}}" translate="DOCUMENT_READONLY_EDIT"></a>
			<a class="statuslabel report" href="#" translate="DOCUMENT_READONLY_PROBLEM"></a>
			<script id='fbmmapi'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=Shownotes&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbmmapi');</script>
		</div>

	</div>

	<ul class="publist">
		<li ng-class="{ active: (pub === undefined) }">
			<a ui-sref="document-readonly-pub({ name: doc.name, pub: undefined })">live</a>
		</li>
		<li ng-repeat="pub in episode.publications" ng-class="{ active: (pub === $index) }">
			<a ui-sref="document-readonly-pub({ name: doc.name, pub: $index })">{{pub.create_date | date:'medium'}}</a>
		</li>
	</ul>

</div>

<document-render document="doc" show-formats="true" publication="pub" refresh="pub === undefined"></document-render>

<snotes-footer></snotes-footer>
