<h2 translate="LIVE_TITLE"></h2>

<div class="box-wrapper">
	<p>
		<span translate="LIVE_WELCOME"></span>
		<span ng-hide="$root.currentUser" translate="LIVE_LOGIN"></span>
		<span ng-hide="!$root.currentUser" translate="LIVE_CLICK"></span>
		<span translate="LIVE_JOIN"></span>
	</p>
</div>

<table class="padlist">
	<tr>
		<th translate="LIVE_STARTTIME"></th>
		<th translate="LIVE_PODCAST"></th>
		<th translate="LIVE_ABBR"></th>
		<th></th>
	</tr>
	<tr ng-repeat="ep in episodes" ng-class="{ past: isPast(ep) }">
		<td>{{ ep.date | date : 'short' }}</td>
		<td>{{ ep.podcast.title }}</td>
		<td>{{ ep.number || 'LIVE_NO_NUMBER' | translate }}</td>
		<td>
			<div ng-show="setNumber == ep"><!-- class="number-wrapper"> -->
				<input type="text" placeholder="Nummer" id="addNumber_{{$index}}" ng-model="newDoc.number" style="margin-bottom: 10px"/>
				<input type="button" value="{{ 'LIVE_CREATE' | translate }}" ng-click="create($index)" />
				<!--<input type="button" value="{{ 'LIVE_LATER' | translate }}" ng-click="create($index, true)" />-->
			</div>
			<div ng-hide="setNumber == ep">
				<input type="button" value="{{ 'LIVE_CREATE' | translate }}" ng-show="!ep.document" ng-click="create($index)" ng-disabled="!$root.currentUser" />
				<input type="button" value="{{ 'LIVE_WRITE' | translate }}" ng-show="ep.document" ng-click="openDoc(ep)" />
			</div>
		</td>
	</tr>
	<tr ng-show="episodes.length == 0">
		<td colspan="4" class="nopodcasts" translate="LIVE_NO_SHOWS">
		</td>
	</tr>
</table>

<p translate="LIVE_SOUP"></p>

<div class="box-wrapper">
	<div class="form-wrapper">
		<h3 translate="LIVE_NEW_TITLE"></h3>
		<p translate="LIVE_NEW_TEXT"></p>
		<angucomplete-alt id="podcast"
			                  placeholder="{{ 'LIVE_NEW_PLACEHOLDER' | translate }}"
			                  pause="100"
			                  selected-object="nonlive.selectedPodcast"
			                  local-data="nonlive.podcasts"
			                  search-fields="title,slug"
			                  title-field="title"
			                  minlength="1"></angucomplete-alt>

		<p class="podcast-counter" translate="LIVE_OLD_NUMBERS"><number-list numbers="nonlive.oldNumbers"></number-list>.</p>
		<div class="input-group">
			<input type="text" id="episode" placeholder="{{ 'LIVE_EPISODE_NUMBER' | translate }}" ng-model="nonlive.number">
			<input type="button" value="{{ 'LIVE_CREATE' | translate }}" ng-click="createNonLive()">
		</div>
	</div>
</div>

<snotes-footer></snotes-footer>
