<h2>Die kollaborative Plattform für Sendungsnotizen</h2>

<div class="box-wrapper">
	<p>Willkommen! Hier siehst du, welche Podcast-Aufzeichnungen wann beginnen. Um live bei den Sendungsnotizen zu helfen,
		<span ng-hide="$root.currentUser">logge dich bitte ein und klicke dann</span>
		<span ng-hide="!$root.currentUser">klicke</span>
	auf <strong>Erstellen</strong> oder <strong>Mitschreiben</strong>.
	<a href='/faq'>Hast du noch Fragen?</a></p>
</div>

<table class="padlist">
	<tr>
		<th>Startzeit</th>
		<th>Podcast</th>
		<th>Kürzel</th>
		<th></th>
	</tr>
	<tr ng-repeat="ep in episodes">
		<td>{{ ep.date | date : 'short' }}</td>
		<td>{{ ep.podcast.title }}</td>
		<td>{{ ep.number || 'noch keines' }}</td>
		<td>
			<input type="button" value="Erstellen" ng-show="!ep.document" ng-click="create(ep)" ng-disabled="!$root.currentUser">
			<input type="button" value="Mitschreiben" ng-show="ep.document" ng-click="openDoc(ep)">
		</td>
	</tr>
	<tr ng-show="episodes.length == 0">
		<td colspan="4" class="nopodcasts">
			Derzeit sind keine Sendungen eingetragen.
		</td>
	</tr>
</table>

<p>Die Termine stammen aus dem <a href="http://hoersuppe.de/kalender/">Hörsuppe-Kalender</a>.</p>

<footer>

	<ul>
		<li><a href="/donate">Spenden</a></li>
		<li><a href="/rules">Regeln</a></li>
		<li><a href="#">Datenschutz</a></li>
		<li><a href="/imprint">Impressum</a></li>
	</ul>

</footer>