<h2>Die kollaborative Plattform für Sendungsnotizen</h2>

<div class="box-wrapper">
	<p>Willkommen! Hier siehst du, welche Podcast-Aufzeichnungen wann beginnen. Um live bei den Sendungsnotizen zu helfen,
		<span ng-hide="$root.currentUser">logge dich bitte ein und klicke dann</span>
		<span ng-hide="!$root.currentUser">klicke</span>
	auf <strong>Erstellen</strong> oder <strong>Mitschreiben</strong>.
	<a href='/faq/'>Hast du noch Fragen?</a></p>
</div>

<table class="padlist">
	<tr>
		<th>Startzeit</th>
		<th>Podcast</th>
		<th>Kürzel</th>
		<th></th>
	</tr>
	<tr ng-repeat="ep in episodes" ng-class="{ past: isPast(ep) }">
		<td>{{ ep.date | date : 'short' }}</td>
		<td>{{ ep.podcast.title }}</td>
		<td>{{ ep.number || 'noch keines' }}</td>
		<td>
			<div ng-show="setNumber == ep" class="number-wrapper">
				<input type="text" placeholder="Nummer" id="addNumber_{{$index}}" ng-model="newDoc.number" />
				<input type="button" value="Erstellen" ng-click="create($index)" />
				<input type="button" value="Später" ng-click="create($index, true)" />
			</div>
			<div ng-hide="setNumber == ep">
				<input type="button" value="Erstellen" ng-show="!ep.document" ng-click="create($index)" ng-disabled="!$root.currentUser" />
				<input type="button" value="Mitschreiben" ng-show="ep.document" ng-click="openDoc(ep)" />
			</div>
		</td>
	</tr>
	<tr ng-show="episodes.length == 0">
		<td colspan="4" class="nopodcasts">
			Derzeit sind keine Sendungen eingetragen.
		</td>
	</tr>
</table>

<p>Die meisten dieser Termine stammen aus dem <a href="http://hoersuppe.de/kalender/">Hörsuppe-Kalender</a>. &hearts;</p>



<div class="box-wrapper">
	<div class="form-wrapper">
		<h3>Neues Dokument anlegen</h3>
		<p>
			Möchtest du Shownotes für einen Podcast schreiben, der nicht in der Liste steht? Kein Problem! Suche den richtigen Podcast, gib eine Episodennummer ein und schon kann es losgehen.<br />
			Falls du den Podcast deiner Wahl nicht finden solltest, <a href="mailto:intern@shownot.es">melde dich bitte bei uns</a>.
		</p>
		<angucomplete-alt id="podcast"
			                  placeholder="Podcast"
			                  pause="100"
			                  selected-object="nonlive.selectedPodcast"
			                  local-data="nonlive.podcasts"
			                  search-fields="title,slug"
			                  title-field="title"
			                  minlength="1"></angucomplete-alt>

		<p class="podcast-counter">Die letzten Episodennummern in diesem Podcast waren: <number-list numbers="nonlive.oldNumbers"></number-list>.</p>
		<div class="input-group">
			<input type="text" id="episode" placeholder="Episodennummer" ng-model="nonlive.number">
			<input type="button" value="Erstellen" ng-click="createNonLive()">
		</div>
	</div>
</div>

<snotes-footer></snotes-footer>
