<h2 translate="COMMUNITY_HEADLINE"></h2>

<p translate="COMMUNITY_INTRODUCTION"></p>

<ul class="iconlist">
	<li>
		<span class="icon-mail"></span>
		<div>
			<h3 translate="COMMUNITY_MAILINGLIST_TITLE"></h3>
			<p translate="COMMUNITY_MAILINGLIST_TEXT"></p>
		</div>
	</li>
	<li>
		<span class="icon-twitter"></span>
		<div>
			<h3 translate="COMMUNITY_TWITTER_TITLE"></h3>
			<p translate="COMMUNITY_TWITTER_TEXT"></p>
		</div>
	</li>
	<li>
		<span class="icon-bubble"></span>
		<div>
			<h3 translate="COMMUNITY_IRC_TITLE"></h3>
			<p translate="COMMUNITY_IRC_TEXT"></p>
		</div>
	</li>
	<li>
		<span class="icon-github"></span>
		<div>
			<h3 translate="COMMUNITY_GITHUB_TITLE"></h3>
			<p translate="COMMUNITY_GITHUB_TEXT"></p>
		</div>
	</li>
</ul>

<snotes-footer></snotes-footer>
