<h2>Spenden</h2>

<p><em>shownot.es</em> finanziert sich komplett durch freiwillige Spenden. Das eingenommene Geld kommt vollständig dem Projekt zugute &mdash; sei es für Webspace, Domain, SSL-Zertifikat oder (einen Teil) der anfallenden Reisekosten für einen Workshop. </p>

<p><strong>Wichtig:</strong> Die freiwilligen Helfer können leider nicht bezahlt werden. Es wäre unmöglich, jedem einen fairen Anteil zu geben. Die Podcaster sind als Alternative dazu angeregt, beispielsweise den <a href="https://flattr.com">Flattr</a>-Button der einzelnen Shownoter unter ihre Sendungen zu setzen.</p>

<ul class="iconlist">
	<li>
		<span class="icon-flattr"></span>
		<div>
			<h3>Flattr</h3>
			<p>Das Konzept hinter <a href="https://flattr.com/profile/shownotes">Flattr</a> ist schnell erklärt: Ein fester Betrag, der gleichmäßig auf alle geflatterten Projekte aufgeteilt wird. 10 % davon geben wir monatlich an Gebühren ab. Wir freuen uns über jeden Klick auf einen unserer Buttons: <!-- Button folgt --></p>
		</div>
	</li>
	<li>
		<span class="icon-paypal"></span>
		<div>
			<h3>PayPal</h3>
			<p>Auch über <a href="#">PayPal</a> kannst du die Plattform unterstützen. Die Gebühren hier betragen etwa 3 bis 4 %.</p>
		</div>
	</li>
</ul>

<p>Wenn du uns auf anderem Wege etwas zukommen lassen möchtest oder Feedback hast, kannst du uns gerne eine <a href="mailto:team@shownot.es">E-Mail</a> schicken.</p>