<h2 translate="FAQ_TITLE"></h2>

<div class="box-wrapper">

	<h3 translate="FAQ_GENERAL_QUESTIONS"></h3>

	<ul>
		<li><a href="/faq/#shownotes" translate="FAQ_SHOWNOTES"></a></li>
		<li><a href="/faq/#show_notes" translate="FAQ_SHOW_NOTES"></a></li>
		<li><a href="/faq/#osf" translate="FAQ_OSF"></a></li>
		<li><a href="/faq/#english" translate="FAQ_ENGLISH"></a></li>
		<li><a href="/faq/#develop" translate="FAQ_DEVELOP"></a></li>
		<li><a href="/faq/#license" translate="FAQ_LICENSE"></a></li>
	</ul>

	<hr />

	<h3 translate="FAQ_SHOWNOTER_QUESTIONS"></h3>

	<ul>
		<li><a href="/faq/#help" translate="FAQ_HELP"></a></li>
		<li><a href="/faq/#payment" translate="FAQ_PAYMENT"></a></li>
	</ul>

	<hr />

	<h3 translate="FAQ_PODCASTER_QUESTIONS"></h3>

	<ul>
		<li><a href="/faq/#advantage" translate="FAQ_ADVANTAGE"></a></li>
		<li><a href="/faq/#my_podcast" translate="FAQ_MY_PODCAST"></a></li>
		<li><a href="/faq/#find_helper" translate="FAQ_FIND_HELPER"></a></li>
		<li><a href="/faq/#rewards" translate="FAQ_REWARDS"></a></li>
	</ul>

	<p translate="FAQ_NEW_QUESTION"></p>

</div>

<h3 translate="FAQ_GENERAL_ANSWERS"></h3>

<h4 id="shownotes" translate="FAQ_SHOWNOTES"></h4>
<p translate="FAQ_SHOWNOTES_ANSWER"></p>

<h4 id="show_notes" translate="FAQ_SHOW_NOTES"></h4>
<p translate="FAQ_SHOW_NOTES_ANSWER"></p>

<h4 id="osf" translate="FAQ_OSF"></h4>
<p translate="FAQ_OSF_ANSWER"></p>

<h4 id="english" translate="FAQ_ENGLISH"></h4>
<p translate="FAQ_ENGLISH_ANSWER"></p>

<h4 id="develop" translate="FAQ_DEVELOP"></h4>
<p translate="FAQ_DEVELOP_ANSWER"></p>

<h4 id="license" translate="FAQ_LICENSE"></h4>
<p translate="FAQ_LICENSE_ANSWER"></p>

<hr />

<h3 translate="FAQ_SHOWNOTER_ANSWERS"></h3>

<h4 id="help" translate="FAQ_HELP"></h4>
<p translate="FAQ_HELP_ANSWER"></p>

<h4 id="payment" translate="FAQ_PAYMENT"></h4>
<p translate="FAQ_PAYMENT_ANSWER"></p>

<hr />

<h3 translate="FAQ_PODCASTER_ANSWERS"></h3>

<h4 id="advantage" translate="FAQ_ADVANTAGE"></h4>
<ul translate="FAQ_ADVANTAGE_ANSWER"></ul>

<h4 id="my_podcast" translate="FAQ_MY_PODCAST"></h4>
<p translate="FAQ_MY_PODCAST_ANSWER"></p>

<h4 id="find_helper" translate="FAQ_FIND_HELPER"></h4>
<p translate="FAQ_FIND_HELPER_ANSWER"></p>

<h4 id="rewards" translate="FAQ_REWARDS"></h4>
<p translate="FAQ_REWARDS_ANSWER"></p>

<snotes-footer></snotes-footer>
