<h2>Impressum</h2>
<h3>Gemäß § 5 TMG</h3>

<p><em>Hinweis:</em> Für generelle Supportanfragen ist die <a href="/community">Community</a> gedacht. Dieses Impressum gilt auch für unseren <a href="https://twitter.com/DieShownotes">Twitter</a>- und <a href="https://alpha.app.net/shownotes">App.net</a>-Account.</p>

<h3>Anschrift</h3>

<p>
	Shownotes e.V.<br />
	c/o Evita Bley<br />
	Poststraße 33<br />
	01159 Dresden
</p>

<p>Von unangekündigten Besuchen raten wir ab.</p>

<h3>Kontakt</h3>

<p>
	E-Mail-Adresse: <a href="mailto:team@shownot.es">team@shownot.es</a><br />
	(Telefonnummer auf Anfrage.)
</p>

<h3>Urheberrecht</h3>

<p>Alle veröffentlichten Textinhalte stehen, soweit nicht anders vermerkt, unter der <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de" rel="license" title="CC0 1.0 Universell (Public Domain Dedication)">CC0-Lizenz</a> (Public Domain Dedication / bedingungslose Lizenz). Andere Inhalte, insbesondere die Cover-Bilder, können davon abweichen.</p>

<snotes-footer></snotes-footer>
