<h2 translate="IMPRINT_TITLE"></h2>
<h3 translate="IMPRINT_REFERENCE"></h3>

<p translate="IMPRINT_HINT"></p>

<h3 translate="IMPRINT_ADDRESS_TITLE"></h3>
<p translate="IMPRINT_ADDRESS"></p>
<p translate="IMPRINT_VISIT"></p>

<h3 translate="IMPRINT_CONTACT_TITLE"></h3>
<p translate="IMPRINT_CONTACT"></p>
<p translate="IMPRINT_MAIL"></p>

<h3 translate="IMPRINT_COPYRIGHT_TITLE"></h3>
<p translate="IMPRINT_COPYRIGHT"></p>

<h3 translate="IMPRINT_OTHER_TITLE"></h3>
<p translate="IMPRINT_OTHER_TEXT"></p>

<p><a href="https://uberspace.de/"><img src="images/uberspace-badge.png" alt="" /></a></p>

<snotes-footer></snotes-footer>
