<h2>Profil bearbeiten</h2>
<h3>Fühl dich wie zu Hause.</h3>

<p>Hallo <em>{{user.username}}</em>! Hier kannst du dein persönliches Profil bearbeiten.</p>


<div class="box-wrapper">
	<h3>Biographie &amp; Farbe</h3>

	<p>Diese Angaben sind öffentlich einsehbar.</p>

	<form class="form-wrapper">
		<textarea placeholder="Erzähl etwas über dich. Was ist dein Lieblings-Podcast?" ng-model="user.bio"></textarea>

		<p>Deine Farbe im Editor:
			<spectrum-colorpicker ng-model="user.color" format="hex"></spectrum-colorpicker>
		</p>

		<input type="submit" value="Änderungen speichern" ng-click="saveBioColor()" />
		<action-status  success-text="Einstellungen erfolgreich gespeichert."
						fail-text="Bitte überprüfe noch einmal deine Angaben."
						active="colorbio.active" status="colorbio.status"></action-status>
	</form>
</div>

<div class="box-wrapper">
	<h3>Verknüpfungen</h3>

	<p>Diese Angaben sind öffentlich einsehbar.</p>

	<form class="form-wrapper">
		<input type="text" value="" placeholder="Webseite" ng-model="user.socials['website']" />
		<input type="text" value="" placeholder="Flattr" ng-model="user.socials['flattr']" />
		<input type="text" value="" placeholder="App.net" ng-model="user.socials['appnet']" />
		<input type="text" value="" placeholder="Twitter" ng-model="user.socials['twitter']" />
		<input type="submit" value="Verknüpfungen speichern" ng-click="saveSocials()" />
		<action-status  success-text="Verknüpfungen erfolgreich gespeichert."
						fail-text="Bitte überprüfe noch einmal deine Angaben."
						active="socials.active" status="socials.status"></action-status>
	</form>
</div>

<div class="box-wrapper">
	<h3>E-Mail-Adresse</h3>

	<p>Deine aktuelle E-Mail-Adresse lautet <strong>{{user.email}}</strong>. Sie wird nicht veröffentlicht.</p>

	<form class="form-wrapper">
		<input type="email" value="" placeholder="Neue E-Mail-Adresse" ng-model="changemail.email" />
		<input type="password" value="" placeholder="Aktuelles Passwort bestätigen" ng-model="changemail.password" />
		<input type="submit" value="E-Mail-Adresse ändern" ng-click="changeMail()" />
		<action-status  success-text="Bitte bestätige deine neue E-Mail-Adresse mit dem Link in deinem Posteingang."
						fail-text="Bitte überprüfe noch einmal deine Angaben."
						active="changemail.active" status="changemail.status"></action-status>
	</form>
</div>

<div class="box-wrapper">
	<h3>Passwort</h3>

	<form class="form-wrapper">
		<input type="password" value="" placeholder="Aktuelles Passwort bestätigen" ng-model="pwchange.password" />
		<input type="password" value="" placeholder="Neues Passwort" ng-model="pwchange.newpassword" />
		<input type="password" value="" placeholder="Neues Passwort wiederholen" ng-model="pwchange.newpassword2" ng-equals="{{pwchange.newpassword}}" />
		<input type="submit" value="Passwort ändern" ng-click="changePassword()" />
		<action-status  success-text="Passwort erfolgreich geändert."
						fail-text="Bitte überprüfe noch einmal deine Angaben."
						active="pwchange.active" status="pwchange.status"></action-status>
	</form>
</div>
