<h2>Profil bearbeiten</h2>

<p>Hallo {{user.username}}! Das hier ist dein persönliches Profil &mdash; fühl dich wie zu Hause.</p>

<p>Deine Farbe im Editor:</p>

<spectrum-colorpicker ng-model="yourFancyModel"></spectrum-colorpicker>

<hr />

<h3>Beschreibung</h3>

<p>Diese Angabe ist öffentlich einsehbar.</p>

<form class="profile-edit">
	<textarea placeholder="Erzähl uns etwas über dich. Was ist dein Lieblings-Podcast?"></textarea>
	<input type="submit" value="Beschreibung ändern" />
</form>

<hr />

<h3>Verknüpfungen</h3>

<p>Diese Angaben sind öffentlich einsehbar.</p>

<form class="profile-edit">
	<input type="text" value="" placeholder="Webseite" />
	<input type="text" value="" placeholder="Flattr" />
	<input type="text" value="" placeholder="App.net" />
	<input type="text" value="" placeholder="Twitter" />
	<input type="submit" value="Verknüpfungen speichern" />
</form>

<hr />

<h3>E-Mail-Adresse bearbeiten</h3>

<p>Deine aktuelle E-Mail-Adresse ist <strong>luto@shownot.es</strong>. Sie wird nicht veröffentlicht.</p>

<form class="profile-edit">
	<input type="email" value="" placeholder="Neue E-Mail-Adresse" required />
	<input type="password" value="" placeholder="Aktuelles Passwort bestätigen" required />
	<input type="submit" value="E-Mail-Adresse ändern" />
</form>

<hr />

<h3>Passwort bearbeiten</h3>

<form class="profile-edit">
	<input type="password" value="" placeholder="Aktuelles Passwort bestätigen" required />
	<input type="password" value="" placeholder="Neues Passwort" required />
	<input type="password" value="" placeholder="Neues Passwort wiederholen" required />
	<input type="submit" value="Passwort ändern" />
</form>
