<h2>Sendungsnotizen sichten</h2>

<p>Diese Liste enthält insgesamt 5 Dokumente, die gesichtet und/oder veröffentlicht werden sollen.</p>

<table>
	<tr>
		<th>Podcast</th>
		<th>Datum</th>
		<th>Status</th>
	</tr>
	<tr>
		<td><a href="#">CR203 Freifunk statt Angst</a></td>
		<td>31.07.2014</td>
		<td><span class="statuslabel">Unveröffentlicht</span></td>
	</tr>
	<tr>
		<td><a href="#">CR202</a></td>
		<td>26.06.2014</td>
		<td><span class="statuslabel">Sichtung beantragt</span></td>
	</tr>
	<tr>
		<td><a href="#">CR201 &hellip;und keiner hat's gesehen</a></td>
		<td>29.05.2014</td>
		<td><span class="statuslabel">Unveröffentlicht</span></td>
	</tr>
	<tr>
		<td><a href="#">CR200</a></td>
		<td>24.04.2014</td>
		<td><span class="statuslabel">Unveröffentlicht</span></td>
	</tr>
	<tr>
		<td><a href="#">CR199</a></td>
		<td>27.03.2014</td>
		<td><span class="statuslabel">Sichtung beantragt</span></td>
	</tr>
</table>