<h2>Community</h2>

<p>Zur Diskussion rund um Sendungsnotizen und diese Plattform bieten sich mehrere Möglichkeiten:</p>

<ul class="iconlist">
	<li>
		<span class="icon-mail"></span>
		<div>
			<h3>Mailingliste</h3>
			<p>Unsere <a href="#">Mailingliste</a> bietet die Möglichkeit zum Austausch von Shownotern und Podcastern.</p>
		</div>
	</li>
	<li>
		<span class="icon-twitter"></span>
		<div>
			<h3>Twitter &amp; App.net</h3>
			<p>Wenn es mal schnell und unkompliziert gehen soll, kannst du uns unter <a href="https://twitter.com/DieShownotes">@DieShownotes</a> und <a href="https://alpha.app.net/shownotes">@shownotes</a> folgen oder den <a href="https://twitter.com/search?f=realtime&q=%23shownotes">entsprechenden Hashtag</a> verwenden.</p>
		</div>
	</li>
	<li>
		<span class="icon-bubble"></span>
		<div>
			<h3>Internet Relay Chat</h3>
			<p>Auf Freenode betreiben wir den IRC-Channel <a href="irc://chat.freenode.net/shownotes">#shownotes</a>. Du kannst dich über einen <a href="http://de.wikipedia.org/wiki/IRC-Client#G.C3.A4ngige_IRC-Clients">IRC-Client</a> oder dem <a href="https://kiwiirc.com/client/irc.freenode.net/shownotes">Webchat</a> verbinden.</p>
		</div>
	</li>
	<li>
		<span class="icon-github"></span>
		<div>
			<h3>GitHub</h3>
			<p>Die komplette Plattform wird auf <a href="https://github.com/shownotes">GitHub</a> entwickelt. Wenn du dich daran beteiligen möchtest, kannst du dort gerne vorbeischauen.</p>
		</div>
	</li>
</ul>