<div class="readonly-header">

	<img src="http://shownot.es/img/logos/cr_logo.png" alt="Chaosradio" width="100" height="100" />

	<div>
		<h2>{{episode.podcast.title}}</h2>
		<h3>
			Episode {{episode.number}}<br />
			{{episode.date}}
		</h3>
		<a href="/doc/{{doc.name}}">Bearbeiten</a>
	</div>

</div>

<div class="button-group">
	<button ng-repeat="f in formats" ng-disabled="format == f" ng-click="enableFormat(f)">{{f.caption}}</button>
	<button title="HTML herunterladen"><span class="icon-arrow-down" ng-click="download()"></span></button>
</div>

<hr />

<div class="document-list">

	<div ng-if="format.type == 'html'">
{{content.html}}
	</div>

	<pre ng-if="format.type == 'osf'">
{{content.osf}}
	</pre>

	<pre ng-if="format.type == 'plain'">
{{content.raw}}
	</pre>

	<h2>00:00:00 <a href="https://www.youtube.com/watch?v=XQKGWw-ZTaw">Intro: Kraftwerk - Number</a></h2>

	<ul>
		<li>
			<span title="00:13:37.000: Heute mit">Heute mit</span>
			<ul>
				<li><a href="#" title="00:13:37.000: Andreas Steinhauser (Steini)">Andreas Steinhauser (Steini)</a></li>
				<li><a href="#" title="00:13:37.000: Tim Pritlove">Tim Pritlove</a></li>
				<li><a href="#" title="00:13:37.000: Marcus Richter">Marcus Richter</a></li>
				<li><a href="#" title="00:13:37.000: Erdgeist">Erdgeist</a></li>
			</ul>
		</li>
	</ul>

	<h2>00:04:29 Die Anfänge des Chaosradios</h2>

	<ul>
		<li>
			<span title="00:13:37.000: Niemand hat die erste Chaosradio-Folge archiviert">Niemand hat die erste Chaosradio-Folge archiviert</span>
			<ul>
				<li><a href="#" title="00:13:37.000: Die bisherigen Sendungen sind hier abrufbar">Die bisherigen Sendungen sind hier abrufbar</a></li>
			</ul>
		</li>
	</ul>

</div>

<div class="document-block">

	<h2>00:13:37 Und jetzt die Block-Ansicht</h2>

	<span title="00:13:37.000: Lorem ipsum">Lorem ipsum</span>
	<span title="00:13:37.000: dolor sit amet"><a href="#">dolor sit amet</a></span>
	<span title="00:13:37.000: consetetur sadipscing elitr">consetetur sadipscing elitr</span>
	<span title="00:13:37.000: sed diam nonumy eirmod tempor invidunt"><a href="#">sed diam nonumy eirmod tempor invidunt</a></span>
	<span title="00:13:37.000: ut labore et dolore magna aliquyam erat"><a href="#">ut labore et dolore magna aliquyam erat</a></span>
	<span title="00:13:37.000: sed diam voluptua">sed diam voluptua</span>

</div>















