<div class="document-wrapper">

	<div class="document">

		<div class="document-header">

			<div class="document-meta">

				<div ng-show="doc.episode">
					<h2>{{doc.episode.podcast.title}}</h2>
					<h3><span ng-show="doc.episode.number">Episode {{doc.episode.number}},</span> {{doc.episode.date | date : 'medium'}}</h3>
				</div>

				<div ng-show="!doc.episode">
					<h2>{{doc.name}}</h2>
				</div>

				<div class="document-actions">

					<form class="shownoter">
						<input type="submit" value="Als Helfer eintragen" ng-show="!isShownoter()" ng-click="addShownoter()" />
						<input type="submit" value="Als Helfer austragen" ng-show="isShownoter()" ng-click="delShownoter()" />
					</form>

					<form class="sighting" ng-show="false">
						<input type="submit" value="Version sichten" />
						<!-- <input type="submit" value="Sichtung beantragen" /> -->
					</form>

				</div>

			</div>

			<div class="shownotes-meta">

				<p><strong>Podcaster</strong>:
					<span ng-repeat="podcaster in doc.meta.podcasters">{{podcaster.name}}</span>
					<span ng-show="doc.meta.podcasters.length == 0">Noch keine.</span>
				</p>
				<form class="podcaster">
					<input type="text" value="" placeholder="Name" ng-model="newpodcaster.name" />
					<input class="small" type="submit" value="Hinzufügen" ng-click="addPodcaster()" />
				</form>

			</div>

		</div>

		<div class="editor" ng-show="editor">
			<iframe src="{{docurl}}"></iframe>
		</div>

	</div>

	<div class="chat">

		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Nein!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Doch!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Nein!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Doch!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Nein!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Doch!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Nein!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Doch!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Nein!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Doch!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Nein!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Doch!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Oh!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
		<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
		<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>

		<form class="chat-input">
			<input type="text" value="" placeholder="Nachricht" />
			<input type="submit" value="Senden" />
		</form>

	</div>

</div>