<div class="readonly-header">

	<img src="http://shownot.es/img/logos/cr_logo.png" alt="Chaosradio" width="100" height="100" />

	<div>
		<h2>Chaosradio</h2>
		<h3>
			Episode 200<br />
			01.02.2014 13:37
		</h3>
		<a href="#">Bearbeiten</a>
	</div>

</div>

<div class="button-group">
	<input type="button" value="Liste" disabled />
	<input type="button" value="Block" />
	<input type="button" value="OSF" />
	<input type="button" value="Markdown" />
	<input type="button" value="Reaper" />
	<input type="button" value="Audacity" />
	<input type="button" value="Kapitel" />
</div>

<hr />

<div class="document-text">

	<h2>00:00:00 <a href="https://www.youtube.com/watch?v=XQKGWw-ZTaw">Intro: Kraftwerk - Number</a></h2>

	<ul>
		<li>
			Heute mit
			<ul>
				<li><a href="#" title="00:13:37.000: Andreas Steinhauser (Steini)">Andreas Steinhauser (Steini)</a></li>
				<li><a href="#" title="00:13:37.000: Tim Pritlove">Tim Pritlove</a></li>
				<li><a href="#" title="00:13:37.000: Marcus Richter">Marcus Richter</a></li>
				<li><a href="#" title="00:13:37.000: Erdgeist">Erdgeist</a></li>
			</ul>
		</li>
	</ul>

	<h2>00:04:29 Die Anfänge des Chaosradios</h2>

	<ul>
		<li>
			<span title="00:13:37.000: Niemand hat die erste Chaosradio-Folge archiviert">Niemand hat die erste Chaosradio-Folge archiviert</span>
			<ul>
				<li><a href="#" title="00:13:37.000: Die bisherigen Sendungen sind hier abrufbar">Die bisherigen Sendungen sind hier abrufbar</a></li>
			</ul>
		</li>
	</ul>

</div>















