<div class="cover-header">

	<a href="#"><img src="http://shownot.es/img/logos/cr_logo.png" alt="Chaosradio" class="cover" /></a>

	<div>
		<h2>{{episode.podcast.title}} {{episode.number}}</h2>
		<h3>{{episode.date}}</h3>
		<a href="/doc/{{doc.name}}">Bearbeiten</a>
	</div>

</div>

<div class="button-group">
	<button ng-repeat="f in formats" ng-disabled="format == f" ng-click="enableFormat(f)">{{f.caption}}</button>
	<button title="HTML herunterladen"><span class="icon-arrow-down" ng-click="download()"></span></button>
</div>

<hr />

<div class="document-list">

	<div ng-if="format.type == 'html'">
{{content.html}}
	</div>

	<pre ng-if="format.type == 'osf'">
{{content.osf}}
	</pre>

	<pre ng-if="format.type == 'plain'">
{{content.raw}}
	</pre>

	<h2>00:00:00 <a href="https://www.youtube.com/watch?v=XQKGWw-ZTaw">Intro: Kraftwerk - Number</a></h2>

	<ul>
		<li>
			<span title="00:13:37.000: Heute mit">Heute mit</span>
			<ul>
				<li><a href="#" title="00:13:37.000: Andreas Steinhauser (Steini)">Andreas Steinhauser (Steini)</a></li>
				<li><a href="#" title="00:13:37.000: Tim Pritlove">Tim Pritlove</a></li>
				<li><a href="#" title="00:13:37.000: Marcus Richter">Marcus Richter</a></li>
				<li><a href="#" title="00:13:37.000: Erdgeist">Erdgeist</a></li>
			</ul>
		</li>
	</ul>

	<h2>00:04:29 Die Anfänge des Chaosradios</h2>

	<ul>
		<li>
			<span title="00:13:37.000: Niemand hat die erste Chaosradio-Folge archiviert">Niemand hat die erste Chaosradio-Folge archiviert</span>
			<ul>
				<li><a href="#" title="00:13:37.000: Die bisherigen Sendungen sind hier abrufbar">Die bisherigen Sendungen sind hier abrufbar</a></li>
			</ul>
		</li>
	</ul>

</div>

<div class="document-block">

	<h2>00:13:37 Und jetzt die Block-Ansicht</h2>

	<span data-tooltip="00:13:37.000">Lorem ipsum</span>
	<span data-tooltip="00:13:37.000"><a href="#">dolor sit amet</a></span>
	<span data-tooltip="00:13:37.000">consetetur sadipscing elitr</span>
	<span data-tooltip="00:13:37.000"><a href="#">sed diam nonumy eirmod tempor invidunt</a></span>
	<span data-tooltip="00:13:37.000"><a href="#">ut labore et dolore magna aliquyam erat</a></span>
	<span data-tooltip="00:13:37.000">sed diam voluptua</span>

</div>

<p>
	Beispiel für Code-Ausgabe:
</p>

<pre>
00:00:00.000 Intro: Kraftwerk - Number
00:04:29.000 Die Anfänge des Chaosradios
00:24:04.000 Die Struktur des CCC
00:28:46.000 Fritz Nachrichten und Werbung
00:50:40.000 Podcasts
00:53:49.000 Das Chaos im Club
00:59:12.000 Fritz Nachrichten und Werbung
01:03:24.000 RFID, WLAN, WEP, Jabber
01:27:50.000 Fritz Nachrichten und Werbung
01:33:07.000 Nerd News, vorgelesen von Holger Klein
01:41:33.000 Open Source und Sicherheit
01:47:01.000 Wünsche für und Ausblick in die Zukunft
01:57:04.000 Outro: Tracky Birthday (with Dragan Espenschied) - Website
</pre>