<div class="document-wrapper">

	<div class="document">

		<div class="document-header">

			<div class="document-meta">

				<div ng-show="doc.episode">
					<h2>Pocast: {{doc.episode.podcast.title}} <span ng-show="doc.episode.number">, {{doc.episode.number}}</span></h2>
					<h3>{{doc.episode.date | date : 'medium'}}</h3>
				</div>

				<div ng-show="!doc.episode">
					<h2>{{doc.name}}</h2>
				</div>

				<form class="sighting" ng-show="false">
					<input type="submit" value="Version sichten" />
					<!-- <input type="submit" value="Sichtung beantragen" /> -->
				</form>

			</div>

			<div class="shownotes-meta">

				<p><strong>Podcaster</strong>: Tim Pritlove, Holger Klein</p>
				<form class="podcaster">
					<input type="text" value="" placeholder="Name" />
					<input class="small" type="submit" value="Hinzufügen" />
				</form>

				<hr />

				<form class="shownoter">
					<input type="submit" value="+" />
					<p><strong>Shownoter:</strong> Kai, luto, Evita, vale, timpritlove</p>
				</form>

			</div>

		</div>

		<div class="editor" ng-show="editor">
			<iframe src="{{docurl}}"></iframe>
		</div>

	</div>

	<div class="chat">
		<div class="messages">
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Nein!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Doch!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Nein!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Doch!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Nein!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Doch!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Nein!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Doch!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Nein!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Doch!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Nein!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Doch!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Oh!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Nein!</p>
			<p style="background-color: #fff8e3"><time>13:37</time><strong>luto:</strong> Doch!</p>
			<p style="background-color: #c7e6f7"><time>13:37</time><strong>Kai:</strong> Oh!</p>
		</div>
		<form class="chat-input">
			<input type="text" value="" placeholder="Nachricht" />
			<input type="submit" value="Senden" />
		</form>

	</div>

</div>