<h2>Die kollaborative Plattform für Sendungsnotizen</h2>
<h3>Metadaten-Crowdsourcing</h3>

<div class="box-wrapper">
	<p>Hier siehst du, welche Podcast-Aufzeichnungen wann beginnen. Um live bei den Sendungsnotizen zu helfen, klicke auf <strong>Erstellen</strong> oder <strong>Mitschreiben</strong>. <a href='/help'>Hast du noch Fragen?</a></p>
</div>

<table class="padlist">
	<tr>
		<th>Startzeit</th>
		<th>Podcast</th>
		<th>Kürzel</th>
		<th></th>
	</tr>
	<tr ng-repeat="ep in episodes">
		<td>{{ ep.date | date : 'short' }}</td>
		<td>{{ ep.podcast.title }}</td>
		<td>{{ ep.number || 'noch keines' }}</td>
		<td>
			<input type="button" value="Erstellen" ng-show="!ep.document" ng-click="create(ep)">
			<input type="button" value="Mitschreiben" ng-show="ep.document" ng-click="join(ep)">
		</td>
	</tr>
	<tr ng-show="episodes.length == 0">
		<td colspan="4" class="nopodcasts">
			Derzeit sind keine Sendungen eingetragen.
		</td>
	</tr>
</table>

<button class="load" ng-click="loadMorePads()"><span class="icon-loop"></span>Mehr laden</button>

<p>Die Termine stammen aus dem <a href="http://hoersuppe.de/kalender/">Hörsuppe-Kalender</a>.</p>
