<h2 translate="main.list.title"></h2>
<table class="padlist">
    <tr>
        <th translate>main.list.starttime</th>
        <th translate>main.list.podcast</th>
        <th translate>main.list.number</th>
        <th></th>
    </tr>

    <tr ng-repeat="pad in pads">
        <td>{{ pad.time | date:'medium' }}</td>
        <td>{{ pad.podcast }}</td>
        <td>{{ pad.name }}</td>
        <td>
            <button ng-show="!pad.exists"><span class="icon-plus"></span>{{'main.list.btn.create'|translate}}</button>
            <button ng-show="pad.exists"><span class="icon-pencil"></span>{{'main.list.btn.open'|translate}}</button>
        </td>
    </tr>
</table>
<button class="load" ng-click="loadMorePads()"><span class="icon-loop"></span>{{'main.list.loadmore'|translate}}</button>
