<div class="cover-header">

	<img src="http://shownot.es/img/logos/cr_logo.png" alt="Chaosradio" class="cover" />

	<div>
		<h2>Chaosradio</h2>
		<h3>5 Episoden</h3>
	</div>

</div>

<p>Durchschnitt: <strong>5 Podcaster</strong> und <strong>4 Shownoter</strong> pro Sendung</p>

<table>
	<tr>
		<th>Episode</th>
		<th>Datum</th>
		<th>Podcaster</th>
		<th>Shownoter</th>
	</tr>
	<tr>
		<td><a href="#">CR203 Freifunk statt Angst</a></td>
		<td>31.07.2014</td>
		<td>4</td>
		<td>3</td>
	</tr>
	<tr>
		<td><a href="#">CR202 Ist das schon alles?</a></td>
		<td>26.06.2014</td>
		<td>4</td>
		<td>3</td>
	</tr>
	<tr>
		<td><a href="#">CR201 &hellip;und keiner hat's gesehen</a></td>
		<td>29.05.2014</td>
		<td>4</td>
		<td>3</td>
	</tr>
	<tr>
		<td><a href="#">CR200 Der Chaos Computer Club</a></td>
		<td>24.04.2014</td>
		<td>7</td>
		<td>6</td>
	</tr>
	<tr>
		<td><a href="#">CR199: Eigenhosting: Elend oder Erlösung?</a></td>
		<td>27.03.2014</td>
		<td>4</td>
		<td>4</td>
	</tr>
</table>