<div ng-show="!user" class="content">
	<h1>Fehler</h1>
	<p>Diesen Benutzer gibt es nicht.</p>
</div>
<div ng-show="user" class="content">
	<h2>{{user.username}} <span>war {{last_login}} online</span></h2>
	<h3 ng-show="user.role == 'user'">Benutzer</h3>
	<h3 ng-show="user.role == 'admin'">Administrator</h3>

	<p>{{user.bio}}</p>

	<ul class="profile">
		<li data-social="Webseite"><a href="https://luto.at" title="Webseite von {{user.username}}">luto.at</a></li>
		<li data-social="Flattr"><a href="#" title="{{user.username}} auf Flattr">flattrluto</a></li>
		<li data-social="Twitter"><a href="#" title="{{user.username}} auf Twitter">twitterluto</a></li>
		<li data-social="App.net"><a href="#" title="{{user.username}} auf App.net">adnluto</a></li>
	</ul>

	<div ng-show="user.username == currentUser.username">
		<hr />
		<a href="/user/profile">Profil bearbeiten</a>
	</div>
</div>