<div ng-show="!user" class="content">
	<h1>Fehler</h1>
	<p>Diesen Benutzer gibt es nicht.</p>
</div>
<div ng-show="user" class="content">
	<h2>{{user.username}} <span>war {{last_login}} online</span></h2>
	<h3 ng-show="user.role == 'user'">Benutzer</h3>
	<h3 ng-show="user.role == 'admin'">Administrator</h3>

	<p>{{user.bio}}</p>

	<ul class="profile">
		<li data-social="Webseite" ng-show="user.socials['website']"><a href="https://luto.at" title="Webseite von {{user.username}}">{{user.socials['website']}}</a></li>
		<li data-social="Flattr" ng-show="user.socials['flattr']"><a href="#" title="{{user.username}} auf Flattr">{{user.socials['flattr']}}</a></li>
		<li data-social="Twitter" ng-show="user.socials['twitter']"><a href="#" title="{{user.username}} auf Twitter">{{user.socials['twitter']}}</a></li>
		<li data-social="App.net" ng-show="user.socials['appnet']"><a href="#" title="{{user.username}} auf App.net">{{user.socials['appnet']}}</a></li>
	</ul>

	<div ng-show="user.username == currentUser.username">
		<hr />
		<a href="/user/profile">Profil bearbeiten</a>
	</div>
</div>