<h2>{{user.username}} <span>war zuletzt vor 1 Stunde online</span></h2>
<h3>Administrator</h3>

<p>Hallo, ich bin Gurkenluto und fleißiger Shownoter seit 1857! Am liebsten höre ich CRE, NSFW und WRINT. Wenn ihr meine Arbeit mögt, dürft ihr mich gerne flattern! Meinen Account findet ihr unten ;)</p>

<ul class="profile">
  <li data-social="Webseite"><a href="https://luto.at" title="Webseite von {{user.username}}">luto.at</a></li>
  <li data-social="Flattr"><a href="#" title="{{user.username}} auf Flattr">flattrluto</a></li>
  <li data-social="Twitter"><a href="#" title="{{user.username}} auf Twitter">twitterluto</a></li>
  <li data-social="App.net"><a href="#" title="{{user.username}} auf App.net">adnluto</a></li>
</ul>

<hr />

<a href="#">Profil bearbeiten</a>
