<h2>Regeln</h2>

<p>Jedes registrierte Mitglied verpflichtet sich dazu, die folgenden Regeln zu akzeptieren:</p>

<ol class="rules">
	<li>
		<strong>Das Obligatorische vorab: Freundlichkeit zahlt sich aus.</strong><br />
		Ein guter Umgangston ist selbstverständlich. Bei Unklarheiten darf jederzeit nachgefragt werden.
	</li>
	<li>
		<strong>Sendungsnotiten werden gewissenhaft mitgeschrieben.</strong><br />
		Inhalte dürfen nicht absichtlich verfälscht werden.
	</li>
	<li>
		<strong>Alle erstellten Inhalte werden unter der <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de" rel="license">CC0-Lizenz</a> veröffentlicht.</strong><br />
		Das heißt kurz und knapp: Sämtliche Rechte werden abgetreten &mdash; jeder kann damit tun, was er möchte.
	</li>
	<li>
		<strong>Die Mitarbeit erfolgt auf freiwilliger Basis.</strong><br />
		Wir bezahlen dich nicht. Eingenommene <a href="/donate">Spenden</a> kommen der Plattform zugute.</li>
	<li>
		<strong>Spam ist absolut verboten.</strong><br />
		Das gilt sowohl für den Editor und den dazugehörigen Chat, als auch für unseren IRC-Kanal und E-Mail-Verkehr.
	</li>
</ol>

<p>Bei Regelverstößen behalten wir uns vor, Mitglieder nach eigenem Ermessen von der Plattform auszuschließen. Weitere Informationen finden sich bei den <a href="/faq">häufig gestellten Fragen</a>.</p>