<div  ng-controller="LoginController">
    <div ng-show="!$root.isLoggedIn">
        <p>Die kollaborative Plattform zum Crowdsourcing von Sendungsnotizen. <a href="#">Mehr <span class="icon-arrow-right"></span></a></p>
        <form class="account">
            <input type="text" placeholder="Benutzername" value="" title="Gib deinen Benutzernamen ein" focus-on="modeRegister" />
            <input type="text" placeholder="E-Mail-Adresse" value="" title="Gib deine E-Mail-Adresse" ng-show="modeRegister" />
            <input type="password" placeholder="Passwort" value="" title="Gib dein Passwort ein" />
            <a href="#" class="lostpass" title="Passwort vergessen?">?</a>
            <input type="password" placeholder="Passwort (Wdh.)" value="" title="Wiederhole dein Passwort" ng-show="modeRegister" />
            <input type="submit" class="login" value="Einloggen" ng-click="login()" />
            <input type="submit" class="register" value="Registrieren" ng-click="register()" />
        </form>
    </div>
    <div ng-show="$root.isLoggedIn">
        <p>
            Eingeloggt als: <strong>quimoniz</strong><br />
            Gruppen: <strong>orga</strong>, <strong>ts</strong>
        </p>
        <ul class="usermenu">
            <li><a href="#"><span class="icon-user"></span>Profil bearbeiten</a></li>
            <li><a href="#"><span class="icon-wrench"></span>Administration</a></li>
            <li><a ng-click="logout()"><span class="icon-close"></span>Ausloggen</a></li>
        </ul>
    </div>
</div>