<h2>Styleguide</h2>

<h3>Logo</h3>
<p>Das Logo folgt.</p>

<h3>Primärfarben</h3>
<div class="block" style="background-color: #40a662;">
  <span>
    <strong>Grün</strong><br />
    Hex: #40A662<br />
    RGB: 64 / 166 / 98
  </span>
</div>
<div class="block" style="background-color: #007369;">
  <span>
    <strong>Dunkelgrün</strong><br />
    Hex: #007369<br />
    RGB: 0 / 115 / 105
  </span>
</div>
<p>Als Standardfarbe wird für den Hintergrund <strong>#FEFEFE</strong> und für die Schrift <strong>#111111</strong> verwendet.</p>

<h3>Sekundärfarben</h3>
<div class="block" style="background-color: #888;">
  <span>
    <strong>Dunkelgrau</strong><br />
    Hex: #888888<br />
    RGB: 136 / 136 / 136
  </span>
</div>
<div class="block" style="background-color: #eee;">
  <span>
    <strong>Hellgrau</strong><br />
    Hex: #EEEEEE<br />
    RGB: 238 / 238 / 238
  </span>
</div>

<h3>Schriftart</h3>
<p>Als Hausschrift verwenden wir die kostenlose <a href="http://www.carrois.com/fira-3-1/">Fira</a>-Familie von Mozilla (Fira Sans &amp; Fira Mono, Version 3.1) in folgenden Schnitten:</p>
<p>Regular, <strong>Bold</strong>, <em>Italic</em>, <strong><em>Bold Italic</em></strong>, <code>Regular, <strong>Bold</strong></code></p>
<p>Fira Mono ist nur in Input-Feldern und als Code ausgewiesenen Elementen im Fließtext zu verwenden.</p>
