<h2>Styleguide</h2>

<p>Dieser Styleguide beschreibt nur grundlegende Dinge, wie Farben, Schriftarten und Logos.</p>

<h3>Logo</h3>
<p>Das Logo folgt.</p>

<h3>Primärfarben</h3>
<div class="colorblock" style="background-color: #40a662;">
	<span>
		<strong>Grün</strong><br />
		Hex: #40A662<br />
		RGB: 64 / 166 / 98
	</span>
</div>
<div class="colorblock" style="background-color: #007369;">
	<span>
		<strong>Dunkelgrün</strong><br />
		Hex: #007369<br />
		RGB: 0 / 115 / 105
	</span>
</div>
<div class="colorblock" style="background-color: #fefefe;">
	<span>
		<strong>Weiß</strong><br />
		Hex: #FEFEFE<br />
		RGB: 254 / 254 / 254
	</span>
</div>
<div class="colorblock" style="background-color: #111;">
	<span>
		<strong>Schwarz</strong><br />
		Hex: #111111<br />
		RGB: 17 / 17 / 17
	</span>
</div>

<h3>Sekundärfarben</h3>
<div class="colorblock" style="background-color: #eee;">
	<span>
		<strong>Hellgrau</strong><br />
		Hex: #EEEEEE<br />
		RGB: 238 / 238 / 238
	</span>
</div>
<div class="colorblock" style="background-color: #999;">
	<span>
		<strong>Grau</strong><br />
		Hex: #999999<br />
		RGB: 153 / 153 / 153
	</span>
</div>
<div class="colorblock" style="background-color: #666;">
	<span>
		<strong>Dunkelgrau</strong><br />
		Hex: #666666<br />
		RGB: 102 / 102 / 102
	</span>
</div>

<h3>Schriftart</h3>
<p>Als Hausschrift verwenden wir die kostenlose <a href="http://www.carrois.com/fira-3-1/">Fira</a>-Familie von Mozilla (Fira Sans &amp; Fira Mono, Version 3.1) in folgenden Schnitten:</p>
<p>Regular, <strong>Bold</strong>, <em>Italic</em>, <strong><em>Bold Italic</em></strong>, <code>Regular, <strong>Bold</strong></code></p>
<p>Fira Mono ist nur in Input-Feldern und als Code ausgewiesenen Elementen im Fließtext zu verwenden.</p>
